.navbar .nav > li >a {
    font-size: 13px;
}

.navbar .nav{
    margin: 5px 10px 0 100px;
}

.nav-tabs > li > a {
    width: 160px;
    text-align: center;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover , .nav-tabs > .active > a:focus{
    background-color: #94c045;
    color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

@media (min-width: 1200px) {
      [class*="span"] {
        margin-left:20px;
    }
}

.btn {
    float: right;
}
.btn a{
    color: #fff;
}

.btn a:hover ,.btn a:focus{
    text-decoration: none;
}

.table td, .table th {
    border-top: 0px;
    border-bottom: 1px solid #ddd;
}

.table a{
    display: block;
    color: #666;
}

.table a:hover , .table a:focus{
    text-decoration: none;
}

.login{
    width: 400px;
    margin: 0 auto;
}

h3{
    text-align: center;
    color: #666;
}

.form-horizontal .control-label {
    width: 60px;
}

.control-label{
    padding-left: 50px;
}

.form-horizontal .controls {
    margin-left: 140px;
}


