/venv/ # python 虚拟运行环境文件夹，虚拟环境命名为venv
/static/files/ #上传文件夹，忽略此文件夹的提交
/.idea # idea配置文件夹
__pycache__/ # win下py运行文件
*.pyc # linux 下python 编译运行文件
*.swp # linux下运行时文件
*.log #日志文件
/app/view/admin/uploads/* #上传文件夹，忽略此文件夹的提交
/files/ #上传文件夹，忽略此文件夹的提交。临时中转
/doc/tmp #临时文件目录，忽略此文件夹的提交