{% extends 'tmp02/base.html' %}

{% block page_name %}联系我们{% endblock %}

{% block body_part %}
      <section id="maincontent" style="margin-top: 80px;">
    <div class="container">

      <div class="row">
        <div class="span4">
          <aside>
            <div class="widget">
              <h4 class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapdown m-icon-white"></i></span>&nbsp;&nbsp;联系我们</h4>
              <ul>
                <li><label><strong>电话 : </strong></label>
                  <p>+808 878 92 0r +808 878 91</p>
                </li>
                <li><label><strong>邮箱 : </strong></label>
                  <p>info@yourdomain.com</p>
                </li>
                <li><label><strong>地址 : </strong></label>
                  <p>Tinggi sekali Tower Jl. Kemacetan timur No.13 Jakarta selatan</p>
                </li>
              </ul>
            </div>
          </aside>
        </div>
        <div class="span8">
          <div class="spacer30"></div>

          <div id="sendmessage">邮件已发送！谢谢！</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="row">
              <div class="span4 form-group">
                <input type="text" name="name" class="input-block-level" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>

              <div class="span4 form-group">
                <input type="email" class="input-block-level" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="span8 form-group">
                <input type="text" class="input-block-level" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="span8 form-group">
                <textarea class="input-block-level" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
                <div style="text-align: center;">
                  <button class="btn btn-medium btn-success" type="submit">Send a message</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </section>
{% endblock %}