<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Scaffold responsive website template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- styles -->
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="assets/css/docs.css" rel="stylesheet">
  <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300|Open+Sans:400,300,300italic,400italic" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/color/success.css" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

  <!-- =======================================================
    Theme Name: Scaffold
    Theme URL: https://bootstrapmade.com/scaffold-bootstrap-metro-style-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>
<body>

 <header>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- logo -->
          <a class="brand logo" href="index.html">
            <img src="assets/img/logo.png" alt="" />
          </a>
          <!-- end logo -->

          <!-- top menu -->
          <div>
            <nav>
              <ul class="nav topnav">
                <li class="dropdown success">
                  <a href="base.html"><i class="icon-home icon-white"></i> 主页</a>
                </li>
                <li class="dropdown primary">
                  <a href="lib.html"><i class="icon-star icon-white"></i> 基地风采</a>
                </li>
                <li class="dropdown danger active">
                  <a href="news.html"><i class="icon-leaf icon-white"></i> 新闻公告</a>
                </li>
                <li class="dropdown warning">
                  <a href="downlink.html"><i class="icon-camera icon-white"></i> 常用下载</a>
                </li>
                <li class="dropdown info">
                  <a href="projects.html"><i class="icon-bullhorn icon-white"></i> 项目展示</a>
                </li>
                <li class="inverse">
                  <a href="contact.html"><i class="icon-envelope icon-white"></i> 联系我们</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- end menu -->
        </div>
      </div>
    </div>
  </header>

  <section id="maincontent" style="margin-top: 80px;">
    <div class="container">
        <div class="row">
        <div class="span12">
          <aside style="height: 600px;">
            <h3 style="color:#ec4f13;text-align: center">大学生创新创业开始啦！！快来报名！！</h3>
            <p>大学生创新创业开始了！！赛事流程如下：
                <br>
                登陆学院大创官网，通过校园账户进行注册登陆，请留下相关联系方式。
                <br>
                下载报名表，填写个人信息，于报名截止日期前提交到相关部门。
            </p>
          </aside>
        </div>

        </div>
    </div>
  </section>


  <script src="assets/js/jquery-1.8.2.min.js"></script>
  <script src="assets/js/jquery.easing.1.3.js"></script>
  <script src="assets/js/google-code-prettify/prettify.js"></script>
  <script src="assets/js/modernizr.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/jquery.elastislide.js"></script>
  <script src="assets/js/jquery.flexslider.js"></script>
  <script src="assets/js/jquery.prettyPhoto.js"></script>
  <script src="assets/js/application.js"></script>
  <script src="assets/js/hover/jquery-hover-effect.js"></script>
  <script src="assets/js/hover/setting.js"></script>
  <script src="assets/js/camera/camera.min.js"></script>
  <script src="assets/js/camera/setting.js"></script>

  <!-- Template Custom JavaScript File -->
  <script src="assets/js/custom.js"></script>
</body>
</html>