{% extends 'tmp01/base.html' %}

{% block page_name %}首页{% endblock %}

{% block static_files %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='mdeditor/editormd.min.css')}}">

<script src="{{url_for('static',filename='common.js')}}"></script>

<style>
    * {
        box-sizing: border-box;
    }
    body{
        background-color: #f6f6f8;
    }
    .projectContainer{
        background-color: #fff;
        padding:50px;
        min-height: 900px;
        margin: 0 0 60px 0;

    }

    .item-header{
        height:60px;
        line-height: 60px;
        font-size:20px;
        margin:20px 0;
        border-bottom: 1px dotted #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }


    section.content {
        padding: 30px 50px 20px 30px;
        border:1px solid #eee
    }

    section.content input {
        width: 220px;
        height: 30px;
    }

    input#projectTitle {
        width: 500px;
    }

    .tableRow{
        display: flex;
        width: 100%;
        margin: 5px
    }

    .tableRow .operate{
        justify-content: flex-end;
    }
    .tableRow label{
        display: inline-block;
        width: 10%;
        flex-shrink: 0;
        padding-right: 5px;
        font-size: 14px;
        font-weight: bold;
    }

    .operate button {
        width: 50px;
        height: 30px;
        background-color:#337e0a;
        margin-right: 10px;
        border:0px;
        border-radius: 4px;
        font-size: 14px;
        color:#fff
    }

    .operate .cancel {
        background-color: #eee;
        color:#333;
    }

    .show-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    .show-header span {
        margin-right: 5px;
        padding:5px;
        font-size:16px;
    }
    .show-content {
        max-height:80px;
        overflow: hidden;
    }

    .operate button {
        margin-left: 5px;
        padding: 5px;
        border: 0px;
        border-radius: 4px;
        background-color: #eee;
        color:#337e0a
    }
</style>

{% endblock%}

{% block body_part%}

<!--项目表单-->
<!--========================-->
<div class="container">
    <div class="row-fluid">
        <div class="projectContainer">
            <div style="display: flex;justify-content: space-between">
                <p><a href="{{url_for('front.user')}}">个人中心</a>/上传项目</p>
            </div>
            <div class="pannel">
                <div class="info">
                <div class="item-header">
                    <div class="left">项目信息</div>
                    <!--<i class="icon-rounded icon-plus add right"></i>-->
                </div>
                <div class="result"></div>
                <div class="input-form">
                    <!--项目信息-->
                    <div id="info" class="content show">
                        <div class="tableRow">
                            <label>项目名称*</label>
                            <input type="text" placeholder="请输入项目名称" id="projectTitle" name="pname">
                        </div>
                        <div class="tableRow">
                            <label>项目介绍*</label>
                            <div id="markdown">
                                <textarea class="editormd-markdown-textarea" name="markdown-markdown-doc"></textarea>
                            </div>
                        </div>
                        <div class="tableRow">
                            <label>封面图片</label>
                            <input type="file" id="mainPic">
                        </div>
                        <div class="tableRow">
                            <label></label>
                            <div style="width:300px;height:200px;background-color: #aaa">
                                <img id="mainPicPreview" style="width:300px;height:200px">
                            </div>
                        </div>
                        <div class="tableRow">
                            <label>立项时间*</label>
                            <input type="date" id="projectTime" name="startTime">
                        </div>
                        <div class="tableRow">
                            <label>项目专业*</label>
                            <select id="projectMajor" name="academy">
                                <option value="1">通信工程</option>
                                <option value="2">信息工程</option>
                                <option value="3">电子信息工程</option>
                            </select>
                        </div>
                        <div class="tableRow">
                            <label>项目类别*</label>
                            <select id="projectCategory" name="type">
                                <option value="1">App开发/微信小程序开发</option>
                                <option value="2">通信/网络</option>
                                <option value="3">软件系统</option>
                                <option value="4">硬件系统</option>
                                <option value="5">视频/图像</option>
                                <option value="6">大数据/机器学习</option>
                            </select>
                        </div>
                        <div class='operate'>
                            <button id='save-info'>保存</button>
                            <button id='cancel'>取消</button>
                        </div>
                    </div>
                </div>
            </div>
                <div class="member">
                <div class="item-header">
                    <div class="left">成员信息</div>
                    <i class="icon-rounded icon-plus add right"></i>
                </div>
                <div class="result"></div>
                <div class="input-form"></div>
            </div>
                <div class="teacher">
                <div class="item-header">
                    <div class="left">指导老师信息</div>
                    <i class="icon-rounded icon-plus add right"></i>
                </div>
                <div class="result"></div>
                <div class="input-form"></div>
            </div>
                <div class="award">
                <div class="item-header">
                    <div class="left">获奖信息</div>
                    <i class="icon-rounded icon-plus add right"></i>
                </div>
                <div class="result"></div>
                <div class="input-form"></div>
            </div>
            </div>
            <div><a id="submit" style="display: inline-block;padding:5px;font-size:14px">提交审核</a></div>
        </div>
    </div>

    <!--隐藏的各个输入框-->

    <!--学生信息-->
    <section id="member" class="content hide">
        <div class="tableRow">
            <label>姓名</label>
            <input type="text" id="memberName">
        </div>
        <div class="tableRow">
            <label>学号</label>
            <input type="text" id="memberNo">
        </div>
        <div class="tableRow">
            <label>班级</label>
            <input type="text" id="memberClass">
        </div>
        <div class="tableRow">
            <label>年级</label>
            <input type="text" id="memberGrade">
        </div>
        <div class="tableRow">
            <label>专业</label>
            <input type="text" id="memberMajor">
        </div>
        <div class="tableRow">
            <label>学院</label>
            <select id="memberCollege" name="memberCollege">
                <option value="信息与通信工程学院">信息与通信工程学院</option>
                <option value="电子工程学院">电子工程学院</option>
                <option value="数字媒体与设计艺术学院">数字媒体与设计艺术学院</option>
                <option value="自动化学院">自动化学院</option>
                <option value="软件学院">软件学院</option>
                <option value="经济管理学院">经济管理学院</option>
                <option value="理学院">理学院</option>
                <option value="人文学院">人文学院</option>
                <option value="公共管理学院">公共管理学院</option>
                <option value="国际学院">国际学院</option>
                <option value="网络教育学院">网络教育学院</option>
                <option value="民族教育学院和马克思主义教学与研究中心">民族教育学院和马克思主义教学与研究中心</option>
            </select>
        </div>
    </section>
    <!--指导老师-->
    <section id="teacher" class="content hide">
        <div class="tableRow">
            <label>姓名</label>
            <input type="text" id="teacherName">
        </div>
        <div class="tableRow">
            <label>专业</label>
            <input type="text" id="teacherMajor">
        </div>
        <div class="tableRow">
            <label>学院</label>
            <select id="teacherCollege">
                <option value="信息与通信工程学院">信息与通信工程学院</option>
                <option value="电子工程学院">电子工程学院</option>
                <option value="数字媒体与设计艺术学院">数字媒体与设计艺术学院</option>
                <option value="自动化学院">自动化学院</option>
                <option value="软件学院">软件学院</option>
                <option value="经济管理学院">经济管理学院</option>
                <option value="理学院">理学院</option>
                <option value="人文学院">人文学院</option>
                <option value="公共管理学院">公共管理学院</option>
                <option value="国际学院">国际学院</option>
                <option value="网络教育学院">网络教育学院</option>
                <option value="民族教育学院和马克思主义教学与研究中心">民族教育学院和马克思主义教学与研究中心</option>
            </select>
        </div>
    </section>
    <!--获奖信息-->
    <section id="award" class="content hide">
        <div class="tableRow">
                <label>奖项名称</label>
                <input type="text" id="awardTitle">
            </div>
        <div class="tableRow">
                <label>获奖时间</label>
                <input type="date" id="awardTime">
            </div>
        <div class="tableRow">
                <label>奖项级别</label>
                <select id="awardCategory">
                    <option value="1">国际型比赛</option>
                    <option value="2">国家型比赛</option>
                    <option value="3">省部型比赛</option>
                    <option value="4">校内比赛</option>
                </select>
            </div>
        <div class="tableRow">
            <label>奖项证书</label>
            <input type="file" multiple id="certfile">
        </div>
        <div class="tableRow">
            <label></label>
            <div id="certPreview"></div>
        </div>
    </section>
</div>

{% endblock%}

{% block js_files%}
<script src="{{ url_for('static',filename='mdeditor/editormd.js')}}"></script>
<script type="text/javascript">
    $(function () {
        //更改导航栏的active
        $("li:first").removeClass("active");
        $("li").eq(5).addClass("active");

        //markdown编辑器设置
        var testEditor;

        testEditor = editormd("markdown", {
            syncScrolling: "single",
            saveHTMLToTextarea: true,
            height: 700,
            path: "{{url_for('static',filename='mdeditor/lib/')}}",
            //启动本地图片上传功能
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "{{url_for('common.markdown_upload')}}"
        });

        // 添加按钮    添加的过程为：
        // (1)确定被添加的类别，确定插入的位置，克隆相应的输入框，然后插入到指定位置，移除hide，添加show
        // (2)添加保存和取消按钮

        $(".add").click(function () {
            var flag=false;
            $(this).parent().parent().parent().find(".content").each(function () {
                if($(this).hasClass("show")){
                   flag=true;         //已经打开一个编辑框
                }
            });
            if(flag){
                alert("当前区域正在被编辑");
            }else{
                // 确定添加的类别
                var name=$(this).parent().parent().attr("class");
                // 确定插入的位置，即div.input-form中
                var inputForm=$(this).parent().next().next();
                // 克隆并插入
                cloneInsert(name,inputForm);
            }
        });

        // 克隆name对应的表单元素，插入到input-form指定的位置，移除hide,添加show
        // 添加保存取消按钮
        function cloneInsert(name,aim) {
            var newForm=$("#"+name).clone(true);  //克隆
            aim.append(newForm);  // 插入
            newForm.removeClass("hide"); // 移除hide
            newForm.addClass("show");  // 添加show
            var btns=$("<div class='operate'><button id='save-"+name+"'>保存</button><button id='cancel'>取消</button></div>")
            newForm.append(btns);  // 添加保存取消按钮
        }


        // 取消按钮
        // 取消的过程为：清空input-form
        // 给动态添加的元素绑定事件使用on()
        $(".pannel").on("click","#cancel",function(){
            var aim=$(this).parent().parent().parent();
            var section=$(this).parent().parent();
            if($(this).hasClass("confirm")){
                if(section.attr("id")=="member" || section.attr("id")=="teacher") {
                    // 取消修改成员
                    aim.before(oldMember);
                    aim.remove();
                }
                if(section.attr("id")=="info"){
                   section.addClass("hide");
                   section.removeClass("show");
                    aim.prev().append(oldProject);
                }
                if(section.attr("id")=="award"){
                    $(this).parent().parent().remove();
                    aim.append(oldAward);
                }
            }else{
                aim.empty();
            }
        });


        // 保存项目信息, 过程为：

        var infoSection=$("#info");

        // (1)提交封面图片 (2)提交项目信息

        //添加封面图片并预览
        var mainPicId;  // 提交后返回的封面图片的id
        var mainPicUrl;
        $(".input-form").on("change","#mainPic",function () {
            var mainPicPreview=$(this).parent().next().find("#mainPicPreview");
            var file=this.files[0];
            var form=new FormData();
            form.append("pics", file);
            form.append("source", 1);  // 封面图片的source为1
            $.ajax({
                url:'/api/addPic',
                data:form,
                type: 'post',
                dataType: 'json',
                contentType:false,
                processData:false,
                success: function (msg) {
                    mainPicUrl=msg.data[0].url;
                    mainPicPreview.attr("src",mainPicUrl);
                    mainPicId=msg.data[0].id;
                }
            });
        });

        // 提交/修改项目信息
        var projectId;
        var project={};
        $(".pannel").on("click","#save-info",function () {
            var section=$(this).parent().parent();
            var pname=section.find("#projectTitle").val();  // 项目名称
            var content=testEditor.getHTML();         // 项目介绍
            var src_content=testEditor.getMarkdown();
            var startTime=section.find("#projectTime").val(); // 立项时间
            var type=section.find("#projectCategory").val();  // 项目类别
            var academy=section.find("#projectMajor").val(); // 项目专业
            var picId=mainPicId;  // 封面图片id
            if(pname && content && startTime){
                project.pname=pname;
                project.content=content;
                project.src_content=src_content;
                project.startTime=startTime;
                project.type=type;
                project.academy=academy;
                project.mainPicId=picId;
                console.log($(this));
                if($(this).hasClass("confirm")){  // 确认修改

                    $.ajax({
                        url:'/api/modifyPro/'+projectId,
                        data:JSON.stringify(project),
                        type:'post',
                        dataType:'json',
                        success:function (msg) {
                            console.log(msg);
                            section.addClass("hide");
                            section.removeClass("show");
                            section.parent().prev().append(addCallback(projectId,project));
                        }
                    })
                }else {
                    $.ajax({
                        url: '/api/addPro',
                        data: JSON.stringify(project),
                        type: 'post',
                        dataType: 'json',
                        success: function (msg) {
                            // 提交成功后，创建展示的元素，创建修改删除按钮，插入到result中，移除输入框
                            projectId = msg.data.pid;
                            section.parent().prev().append(addCallback(projectId, project));
                            section.addClass("hide");
                            section.removeClass("show");
                        }
                    })
                }
            }else{
                alert("请填写必填项");
            }

        });

        function addCallback(projectId,project){
            var newPro=$("<div class='project-show' id='"+projectId+"'></div>");
            var header=$("<div class='show-header'></div>");
            newPro.append(header);
            var header_left=$("<h4>"+project.pname+"</h4>");
            header.append(header_left);
            var header_right=$("<div class='operate'><button id='modify-project' class='modify'>修改</button></div>");
            header.append(header_right);
            var content=$("<div class='show-content'></div>");
            content.html(project.content);
            newPro.append(content);
            return newPro;
        }



        // 修改项目,修改的过程为：
        // (1)将旧的project-show克隆下来，清空project-show,克隆表单元素，设置内容，然后插入到project-show中
        // (2)创建确认修改和取消修改按钮

        var oldProject;
        $(".result").on("click","#modify-project",function () {
            var pshow=$(this).parent().parent().parent();
            oldProject=pshow.clone(true);
            infoSection.removeClass("hide");
            infoSection.addClass("show");
            infoSection.find("#save-info").addClass("confirm");
            infoSection.find("#cancel").addClass("confirm");
            pshow.remove();
        });



        // 提交/修改成员信息
        var memArr=[];
        var idArr=[];
        var count=0;
        $(".pannel").on("click","#save-member",function () {
            if(!projectId){
                alert("请先添加项目信息");
            }else {
                var item = $(this).parent().parent();
                var member = {};
                var name = item.find("#memberName").val();
                var number = item.find("#memberNo").val();
                var classId = item.find("#memberClass").val();
                var grade = item.find("#memberGrade").val();
                var major = item.find("#memberMajor").val();
                var academy = item.find("#memberCollege").val();
                member.name = name;
                member.classId = classId;
                member.number = number;
                member.grade = grade;
                member.major = major;
                member.academy = academy;
                if ($(this).hasClass("confirm")) {  // 确定修改
                    $.ajax({
                        url:'/api/modifyProMember/'+mid,
                        data: JSON.stringify(member),
                        dataType: 'json',
                        type: 'post',
                        success:function (msg) {
                            console.log(msg);
                            count--;
                            item.parent().before(memberCallback(member));
                            item.parent().remove();
                            memArr.splice(index,1,member);
                        }
                    })
                } else {    // 添加
                    $.ajax({
                        url: '/api/addProMember/1/' + projectId,
                        data: JSON.stringify(member),
                        dataType: 'json',
                        type: 'post',
                        success: function (msg) {
                            //console.log(msg);
                            idArr.push(msg.data.mid);
                            memArr.push(member);
                            item.parent().prev().append(memberCallback(member));
                            item.remove();
                        }
                    })
                }
            }
        });

        function memberCallback(member){
            var newMember = $("<div class='project-show'></div>");
            var memHeader = $("<div class='show-header'></div>");
            var headerLeft = $("<div></div>");
            Object.keys(member).forEach(function (key) {
                var span = $("<span>" + member[key] + "</span>");
                headerLeft.append(span);
            });
            var btn = $("<div class='operate'><button class='modify modify-member'>修改</button><button class='delete' id='" + (count++) + "'>删除</button></div>");
            memHeader.append(headerLeft);
            memHeader.append(btn);
            newMember.append(memHeader);
            return newMember;
        }


        // 删除成员/老师信息
        $(".pannel").on("click",".delete",function () {
            var mid=idArr[$(this).attr("id")];
            var show=$(this).parent().parent().parent();
            $.ajax({
                url:'/api/deleteProMember/'+mid,
                type:'get',
                success:function () {
                    show.remove();
                }
            })
        });

        // 修改学生/老师信息
        var oldMember;
        var mid;
        var index;
        $(".pannel").on("click",".modify-member",function () {
            var show=$(this).parent().parent().parent();
            oldMember=show.clone(true);
            index=$(this).next().attr("id");
            var obj=memArr[index];
            mid=idArr[index];
            if(show.parent().parent().hasClass("member")){
                var newForm=$("#member").clone();
                newForm.find("#memberName").val(obj.name);
                newForm.find("#memberNo").val(obj.number);
                newForm.find("#memberClass").val(obj.classId);
                newForm.find("#memberGrade").val(obj.grade);
                newForm.find("#memberMajor").val(obj.major);
                newForm.find("#memberCollege").val(obj.academy);
                var btns=$("<div class='operate'><button id='save-member' class='confirm'>修改</button><button id='cancel' class='confirm'>取消</button></div>")
            }
            if(show.parent().parent().hasClass("teacher")){
                var newForm=$("#teacher").clone();
                newForm.find("#teacherName").val(obj.name);
                newForm.find("#teacherMajor").val(obj.major);
                newForm.find("#teacherCollege").val(obj.academy);
                var btns=$("<div class='operate'><button id='save-teacher' class='confirm'>修改</button><button id='cancel' class='confirm'>取消</button></div>")
            }
            show.empty();
            show.append(newForm);
            newForm.removeClass("hide");
            newForm.addClass("show");

            newForm.append(btns);
        });


        // 提交/修改指导老师信息
        $(".pannel").on("click","#save-teacher",function () {
            if(!projectId){
                alert("请先添加项目信息");
            }else {
                var item = $(this).parent().parent();
                var teacher = {};
                var name = item.find("#teacherName").val();
                var major = item.find("#teacherMajor").val();
                var academy = item.find("#teacherCollege").val();
                teacher.name = name;
                teacher.major = major;
                teacher.academy = academy;
                console.log(teacher);
                console.log(mid);
                if ($(this).hasClass("confirm")) {  // 确定修改
                    $.ajax({
                        url:'/api/modifyProMember/'+mid,
                        data: JSON.stringify(teacher),
                        dataType: 'json',
                        type: 'post',
                        success:function (msg) {
                            console.log(msg);
                            count--;
                            item.parent().before(memberCallback(teacher));
                            item.parent().remove();
                            memArr.splice(index,1,teacher);
                        }
                    })
                } else {    // 添加
                    $.ajax({
                        url: '/api/addProMember/0/' + projectId,
                        data: JSON.stringify(teacher),
                        dataType: 'json',
                        type: 'post',
                        success: function (msg) {
                            //console.log(msg);
                            idArr.push(msg.data.mid);
                            memArr.push(teacher);
                            item.parent().prev().append(memberCallback(teacher));
                            item.remove();
                        }
                    })
                }
            }
        });



        //添加奖项证书并预览
        var certIdArr=[];
        var certUrlArr=[];
        var certCount=0;
        $(".award").on("change","#certfile",function () {
            var certPreview=$(this).parent().next().find("#certPreview");
            var files=this.files;
            var form=new FormData();
            for(var i=0;i<files.length;i++){
                form.append("pics",files[i]);
            }
            form.append("source", 2);
            $.ajax({
                url:'/api/addPic',
                data:form,
                type: 'post',
                dataType: 'json',
                contentType:false,
                processData:false,
                success:function (msg) {
                    console.log(msg);
                    for(var i=0;i<msg.data.length;i++){
                        var imgWrap=$("<div class='imgWrap'></div>");
                        var certImg=$("<img id='"+msg.data[i].id+"' index='"+(certCount++)+"'>");
                        certImg.attr("src",msg.data[i].url);
                        var delBtn=$("<i class='icon-square icon-trash'></i>");
                        imgWrap.append(certImg);
                        imgWrap.append(delBtn);
                        certPreview.append(imgWrap);
                        certIdArr.push(msg.data[i].id);
                        certUrlArr.push(msg.data[i].url);
                    }
                }
            })
        });

        //删除证书图片
        $(".award").on("click",".icon-trash",function () {
            var index=$(this).prev().attr("index");
            var id=$(this).prev().attr("id");
            var wrap=$(this).parent();
            $.ajax({
                url:"/api/deleteCertFile/"+id,
                type:'get',
                dataType:'json',
                success:function (msg) {
                    wrap.remove();
                    certUrlArr.splice(index,1);
                    certCount--;
                }
            })
        });


        //提交奖项
        var award={};
        var awardId;
        $(".award").on("click","#save-award",function () {
            var awardItem=$(this).parent().parent();
            award.title=awardItem.find("#awardTitle").val();
            award.rank=awardItem.find("#awardCategory").val();
            award.awardTime=awardItem.find("#awardTime").val();
            award.certids=certIdArr;
            if(!projectId){
                alert("请先添加项目信息");
            }else {
                if ($(this).hasClass("confirm")) {  // 确定修改
                    $.ajax({
                        url:'/api/modifyProAward/'+projectId,
                        data: JSON.stringify(award),
                        dataType: 'json',
                        type: 'post',
                        success:function () {
                            awardItem.empty();
                            awardItem.append(awardCallback(award,awardId));
                        }
                    })
                }else {
                    $.ajax({
                        url: '/api/addProAward/' + projectId,
                        data: JSON.stringify(award),
                        dataType: 'json',
                        type: 'post',
                        success: function (msg) {
                            console.log(msg);
                            awardId=msg.data.id;
                            awardItem.parent().prev().append(awardCallback(award,awardId));
                            awardItem.remove();
                        }
                    })
                }
            }
        });

        function awardCallback(award,id) {
            var newAward = $("<div class='project-show'></div>");
            var awardHeader = $("<div class='show-header'></div>");
            var headerLeft = $("<div><span>" + award.title + "</span><span>" + award.awardTime + "</span></div>");
            var btn = $("<div class='operate'><button class='modify modify-award'>修改</button><button class='delete-award' id='"+id+"'>删除</button></div>");
            awardHeader.append(headerLeft);
            awardHeader.append(btn);
            newAward.append(awardHeader);
            return newAward;
        }

        // 修改奖项
        var oldAward;
        $(".award").on("click",".modify-award",function () {
            console.log("hhh");
            var show=$(this).parent().parent().parent();
            var res=show.parent();
            oldAward=show.clone(true);
            var newForm=$("#award").clone();
            newForm.find("#awardTitle").val(award.title);
            newForm.find("#awardCategory").val(award.rank);
            newForm.find("#awardTime").val(award.awardTime);
            var preview=newForm.find("#certPreview");
            for(var i=0;i<certUrlArr.length;i++){
                var wrap=$("<div class='img-wrap'></div>");
                var certImg=$("<img id='"+certIdArr[i]+"' index='"+i+"'>");
                certImg.attr("src",certUrlArr[i]);
                var delBtn=$("<i class='icon-square icon-trash'></i>");
                wrap.append(certImg);
                wrap.append(delBtn);
                preview.append(wrap);
            };
            show.remove();
            res.append(newForm);
            newForm.removeClass("hide");
            newForm.addClass("show");
            var btns=$("<div class='operate'><button id='save-award' class='confirm'>修改</button><button id='cancel' class='confirm'>取消</button></div>");
            newForm.append(btns);
        })

        // 删除奖项
        $(".award").on("click",".delete-award",function () {
            var id=$(this).attr("id");
            var show=$(this).parent().parent().parent();
            $.ajax({
                url:'/api/deleteProAward/'+id,
                type:'get',
                dataType:'json',
                success:function (msg) {
                    show.remove()
                }
            })
        })

        // 提交审核
        $("a#submit").click(function () {
            $.ajax({
                url:'/api/submitProject/'+projectId,
                type: 'get',
                success:function (msg) {
                    alert(msg);
                }
            })
        });

    })
</script>

{% endblock %}