<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block page_name %}{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap2/bootstrap2.2.2.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-responsive.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='tmp03/css/camera.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='tmp01/css/style.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='tmp01/color/default.css')}}">
  <script src="/static/back01/myjs/afquery.js"></script>
  <style>
    .logo{
      display:flex;
      align-items: center;
    }
    .slogan {
      display:flex;
      flex-direction: column;
      margin-left: 10px;
    }
    .slogan>span{
      font-weight: 500;
      font-size:20px;
      letter-spacing: 0.3em;
    }
    .slogan span:first-of-type{
      margin-bottom: 5px;
    }
  </style>
  {% block static_files %}{% endblock %}


</head>

<body data-spy="scroll" data-target=".bs-docs-sidenav">


  <!--logo区
  ==========================================-->

  <div class="container">
    <div class="logo">
      <img src="{{url_for('static',filename='img/logo.png')}}">
      <div class="slogan">
        <span>信息与通信工程学院</span>
        <span>WIN大学生创新创业基地</span>
      </div>
    </div>
  </div>

    <!--导航栏
    ========================================================-->

  <header>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <div class="navigation">
            <nav>
              <ul class="nav">
                <li class="dropdown active">
                  <a href="{{ url_for('front.home') }}">主页</a>
                </li>
                <li class="dropdown">
                  <a href="{{ url_for('front.lab') }}">基地风采</a>
                </li>
                <li class="dropdown">
                  <a href="{{ url_for('front.news') }}">新闻公告</a>
                </li>
                <li class="dropdown">
                  <a href="{{ url_for('front.downloadFile') }}">常用下载</a>
                </li>
                <li class="dropdown">
                  <a href="{{ url_for('front.projects')}}">项目展示</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- end menu -->
        </div>
      </div>
    </div>
  </header>

  <!--页面主体部分
  ================================================= -->
  <section style="min-height: 800px">
    {% block body_part %}
    {% endblock %}
  </section>

  <!--页脚部分
  ==================================================-->
  <footer class="footer">
    <div class="container" style="text-align: center">
      <p>邮箱：buptwin@bupt.edu.cn；传真：010-62285134；电话：010-62281946；地址：北京邮电大学教一楼323； 邮编：100876</p>
      <p>北京邮电大学叶培大创新创业学院 © Copyright 2017</p>
    </div>
  </footer>
</body>


   JavaScript Library Files
  <script src="/static/js/jquery-2.1.0.min.js"></script>
  <script src="/static/js/bootstrap2/bootstrap2.3.0.js"></script>

  <script src="/static/js/jquery.prettyPhoto.js"></script>
  <script src="/static/js/hover/jquery-hover-effect.js"></script>
  <script src="/static/js/hover/setting.js"></script>
  <script src="/static/js/application.js"></script>
  <script src="/static/js/camera/camera.min.js"></script>
  <script src="/static/js/camera/setting.js"></script>
  <script src="/static/js/base.js"></script>
  <script src="/static/js/custom.js"></script>


  <!-- Template Custom JavaScript File -->
  {% block js_files%}
  {% endblock %}

</html>
