{% extends 'tmp01/base.html' %}

{% block page_name %}修改项目{% endblock %}

{% block static_files %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='mdeditor/editormd.min.css')}}">

<script src="{{url_for('static',filename='common.js')}}"></script>

<style>
    * {
        box-sizing: border-box;
    }
    body{
        background-color: #f6f6f8;
    }
    .projectContainer{
        background-color: #fff;
        padding:50px;
        min-height: 900px;
        margin: 0 0 60px 0;

    }

    .item-header{
        height:60px;
        line-height: 60px;
        font-size:20px;
        margin:20px 0;
        border-bottom: 1px dotted #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }

    section.content {
        padding: 30px 50px 20px 30px;
        border:1px solid #eee;
        margin-bottom:5px
    }

    section.content input {
        width: 220px;
        height: 30px;
    }

    input#projectTitle {
        width: 500px;
    }

    .tableRow{
        display: flex;
        width: 100%;
        margin: 5px
    }

    .tableRow label{
        display: inline-block;
        width: 10%;
        flex-shrink: 0;
        padding-right: 5px;
        font-size: 14px;
        font-weight: bold;
    }

    .lists {
        display: flex;
         margin-bottom: 5px
    }
    .lists .item {
        flex:1
    }
    .lists label{
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        padding-right: 15px;
    }

    .operate {
        text-align: center;
    }
    .operate .cancel {
        background-color: #eee;
        color:#333;
    }

    .operate button {
        margin-left: 5px;
        padding: 10px 20px;
        border: 0px;
        border-radius: 4px;
        background-color: #eee;
        color:#337e0a;
        font-size:16px
    }
    .certPreview {
        display: flex;
    }
    .certPreview .imgWrap{
        position: relative;
    }
    .certPreview img{
        width: 300px;
        height: 200px;
    }

    .imgWrap .icon-trash{
        position: absolute;
        left: 150px;
        top: 100px;
        z-index: -1;
    }

    .imgWrap:hover> .icon-trash{
        z-index: 10;
    }
</style>

{% endblock%}

{% block body_part%}

<!--项目表单-->
<!--========================-->
<div class="container">
    <div class="row-fluid">
        <div class="projectContainer">
            <div style="display: flex;justify-content: space-between">
                <p><a href="{{url_for('front.user')}}">个人中心</a>/修改项目</p>
            </div>
            <div id="panel">
                <div id="info">
                    <div class="item-header">
                        <div class="left">项目信息</div>
                    </div>
                    <div class="result">
                        <!--项目信息-->
                        <div class="content info">
                            <div class="tableRow">
                                <label>项目名称*</label>
                                <input type="text" placeholder="请输入项目名称" id="projectTitle" value="{{project.pname}}">
                            </div>
                            <div class="tableRow">
                                <label>项目介绍*</label>
                                <div style="height: 700px;width: 100%">
                                    <div id="markdown">
                                    <textarea style="display: none;">{{ project.src_content | safe }}</textarea>
                                </div>
                                </div>
                            </div>
                            <div class="tableRow">
                                <label>封面图片</label>
                                <input type="file" id="mainPic">
                            </div>
                            <div class="tableRow">
                                <label></label>
                                <div>
                                    <img style="width:300px;height:200px" class="mainPicPreview" id="{{project.pic.fid}}" src="{{ url_for('common.image',name=project.pic.path) }}">
                                </div>
                            </div>
                            <div class="tableRow">
                                <label>立项时间*</label>
                                <input type="date" id="projectTime" value="{{project.status.startTime}}">
                            </div>
                            <div class="tableRow">
                                <label>项目专业*</label>
                                <select id="projectMajor" value="{{project.status.major}}">
                                    <option value="1">通信工程</option>
                                    <option value="2">信息工程</option>
                                    <option value="3">电子信息工程</option>
                                </select>
                            </div>
                            <div class="tableRow">
                                <label>项目类别*</label>
                                <select id="projectCategory" value="{{project.status.type}}">
                                    <option value="1">App开发/微信小程序开发</option>
                                    <option value="2">通信/网络</option>
                                    <option value="3">软件系统</option>
                                    <option value="4">硬件系统</option>
                                    <option value="5">视频/图像</option>
                                    <option value="6">大数据/机器学习</option>
                                </select>
                            </div>
                            <div class='operate'>
                                <button class='save-info' id="{{project.pid}}">修改</button>
                            </div>
                        </div>
                </div>
                </div>
                <div id="member">
                    <div class="item-header">
                        <div class="left">成员信息</div>
                        <i class="icon-rounded icon-plus add right"></i>
                    </div>
                    <div class="result">
                        {% for member in project.members %}
                            {% if member.type==1 %}
                            <section class="content member">
                                <div class="tableRow">
                                    <div class="item">
                                        <label>姓名</label>
                                        <input type="text" class="memberName" value="{{member.name}}">
                                    </div>
                                    <div class="item">
                                        <label>学号</label>
                                        <input type="text" class="memberNo" value="{{member.number}}">
                                    </div>
                                    <div class="item">
                                        <label>班级</label>
                                        <input type="text" class="memberClass" value="{{member.classId}}">
                                    </div>
                                </div>
                                <div class="tableRow">
                                    <div class="item">
                                        <label>年级</label>
                                        <input type="text" class="memberGrade" value="{{member.grade}}">
                                    </div>
                                    <div class="item">
                                        <label>专业</label>
                                        <input type="text" class="memberMajor" value="{{member.major}}">
                                    </div>
                                    <div class="item">
                                        <label>学院</label>
                                        <select class="memberCollege" name="memberCollege" value="{{member.academy}}">
                                            <option value="信息与通信工程学院">信息与通信工程学院</option>
                                            <option value="电子工程学院">电子工程学院</option>
                                            <option value="数字媒体与设计艺术学院">数字媒体与设计艺术学院</option>
                                            <option value="自动化学院">自动化学院</option>
                                            <option value="软件学院">软件学院</option>
                                            <option value="经济管理学院">经济管理学院</option>
                                            <option value="理学院">理学院</option>
                                            <option value="人文学院">人文学院</option>
                                            <option value="公共管理学院">公共管理学院</option>
                                            <option value="国际学院">国际学院</option>
                                            <option value="网络教育学院">网络教育学院</option>
                                            <option value="民族教育学院和马克思主义教学与研究中心">民族教育学院和马克思主义教学与研究中心</option>
                                        </select>
                                    </div>
                                </div>
                                <div class='operate'>
                                    <button class='save-member' id="{{member.id}}">修改</button>
                                    <button class='cancel'>删除</button>
                                </div>
                            </section>
                            {% endif %}
                        {% endfor %}
                </div>
                </div>
                <div id="teacher">
                    <div class="item-header">
                        <div class="left">老师信息</div>
                        <i class="icon-rounded icon-plus add right"></i>
                    </div>
                    <div class="result">
                    {% for member in project.members %}
                        {% if member.type==0 %}
                        <section class="teacher content">
                            <div class="tableRow">
                                <div>
                                    <label>姓名</label>
                                    <input type="text" class="teacherName" value="{{member.name}}">
                                </div>
                                <div>
                                    <label>专业</label>
                                    <input type="text" class="teacherMajor" value="major">
                                </div>
                                <div>
                                    <label>学院</label>
                                    <select class="teacherCollege" value="{{member.academy}}">
                                        <option value="信息与通信工程学院">信息与通信工程学院</option>
                                        <option value="电子工程学院">电子工程学院</option>
                                        <option value="数字媒体与设计艺术学院">数字媒体与设计艺术学院</option>
                                        <option value="自动化学院">自动化学院</option>
                                        <option value="软件学院">软件学院</option>
                                        <option value="经济管理学院">经济管理学院</option>
                                        <option value="理学院">理学院</option>
                                        <option value="人文学院">人文学院</option>
                                        <option value="公共管理学院">公共管理学院</option>
                                        <option value="国际学院">国际学院</option>
                                        <option value="网络教育学院">网络教育学院</option>
                                        <option value="民族教育学院和马克思主义教学与研究中心">民族教育学院和马克思主义教学与研究中心</option>
                                    </select>
                                </div>
                            </div>
                            <div class='operate'>
                                <button class='save-teacher' id="{{member.id}}">修改</button>
                                <button class='cancel'>取消</button>
                            </div>
                        </section>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <div id="award">
                    <div class="item-header">
                        <div class="left">获奖信息</div>
                        <i class="icon-rounded icon-plus add right"></i>
                    </div>
                    <div class="result">
                        {% for award in project.awards %}
                        <section class="content award">
                            <div class="tableRow">
                                    <label>奖项名称</label>
                                    <input type="text" class="awardTitle" value="{{award.awardName}}">
                                </div>
                            <div class="tableRow">
                                    <label>获奖时间</label>
                                    <input type="date" class="awardTime" value="{{award.awardTime}}">
                                </div>
                            <div class="tableRow">
                                    <label>奖项级别</label>
                                    <select class="awardCategory" value="{{award.rank}}">
                                        <option value="1">国际型比赛</option>
                                        <option value="2">国家型比赛</option>
                                        <option value="3">省部型比赛</option>
                                        <option value="4">校内比赛</option>
                                    </select>
                                </div>
                            <div class="tableRow">
                                <label>奖项证书</label>
                                <input type="file" multiple class="certfile">
                            </div>
                            <div class="tableRow">
                                <label></label>
                                <div class="certPreview">
                                    {% for i in award.pics %}
                                    <img src="{{ url_for('common.image',name=i.url) }}">
                                    {% endfor %}
                                </div>
                            </div>
                            <div class='operate'>
                                <button class='save-award' id="{{award.id}}">修改</button>
                                <button class='cancel'>取消</button>
                            </div>
                        </section>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div style="text-align: center"><button id="submit" class="btn btn-success">提交审核</button></div>
        </div>
    </div>

    <!--隐藏的各个输入框-->

    <!--学生信息-->
    <div id="input-form">
        <section class="content hide member">
            <div class="lists">
                <div class="item">
                    <label>姓名</label>
                    <input type="text" class="memberName">
                </div>
                <div class="item">
                    <label>学号</label>
                    <input type="text" class="memberNo">
                </div>
                <div class="item">
                    <label>班级</label>
                    <input type="text" class="memberClass">
                </div>
            </div>
            <div class="lists">
                <div class="item">
                    <label>年级</label>
                    <input type="text" class="memberGrade">
                </div>
                <div class="item">
                    <label>专业</label>
                    <input type="text" class="memberMajor">
                </div>
                <div class="item">
                    <label>学院</label>
                    <select class="memberCollege" name="memberCollege">
                        <option value="信息与通信工程学院">信息与通信工程学院</option>
                        <option value="电子工程学院">电子工程学院</option>
                        <option value="数字媒体与设计艺术学院">数字媒体与设计艺术学院</option>
                        <option value="自动化学院">自动化学院</option>
                        <option value="软件学院">软件学院</option>
                        <option value="经济管理学院">经济管理学院</option>
                        <option value="理学院">理学院</option>
                        <option value="人文学院">人文学院</option>
                        <option value="公共管理学院">公共管理学院</option>
                        <option value="国际学院">国际学院</option>
                        <option value="网络教育学院">网络教育学院</option>
                        <option value="民族教育学院和马克思主义教学与研究中心">民族教育学院和马克思主义教学与研究中心</option>
                    </select>
                </div>
            </div>
            <div class='operate'>
                <button class='save-member'>保存</button>
                <button class='cancel'>取消</button>
            </div>
        </section>
        <!--指导老师-->
        <section class="content hide teacher">
            <div class="lists">
                <div class="item">
                    <label>姓名</label>
                    <input type="text" class="teacherName">
                </div>
                <div class="item">
                    <label>专业</label>
                    <input type="text" class="teacherMajor">
                </div>
                <div class="item">
                    <label>学院</label>
                    <select class="teacherCollege">
                        <option value="信息与通信工程学院">信息与通信工程学院</option>
                        <option value="电子工程学院">电子工程学院</option>
                        <option value="数字媒体与设计艺术学院">数字媒体与设计艺术学院</option>
                        <option value="自动化学院">自动化学院</option>
                        <option value="软件学院">软件学院</option>
                        <option value="经济管理学院">经济管理学院</option>
                        <option value="理学院">理学院</option>
                        <option value="人文学院">人文学院</option>
                        <option value="公共管理学院">公共管理学院</option>
                        <option value="国际学院">国际学院</option>
                        <option value="网络教育学院">网络教育学院</option>
                        <option value="民族教育学院和马克思主义教学与研究中心">民族教育学院和马克思主义教学与研究中心</option>
                    </select>
                </div>
            </div>
            <div class='operate'>
                <button class='save-teacher'>保存</button>
                <button class='cancel'>取消</button>
            </div>
        </section>
        <!--获奖信息-->
        <section class="content hide award">
            <div class="lists">
                <label>奖项名称</label>
                <input type="text" class="awardTitle">
            </div>
            <div class="lists">
                <div class="item">
                    <label>获奖时间</label>
                    <input type="date" class="awardTime">
                </div>
                <div class="item">
                    <label>奖项级别</label>
                    <select class="awardCategory">
                        <option value="1">国际型比赛</option>
                        <option value="2">国家型比赛</option>
                        <option value="3">省部型比赛</option>
                        <option value="4">校内比赛</option>
                    </select>
                </div>
            </div>
            <div class="items">
                <label>奖项证书</label>
                <input type="file" multiple class="certfile">
            </div>
            <div class="items">
                <label></label>
                <div class="certPreview"></div>
            </div>
            <div class='operate'>
                <button class='save-award'>保存</button>
                <button class='cancel'>取消</button>
            </div>
        </section>
    </div>

</div>

{% endblock%}

{% block js_files%}
<script src="{{ url_for('static',filename='mdeditor/editormd.min.js')}}"></script>
<script type="text/javascript">
    $(function () {

        //markdown编辑器设置
        let testEditor;

        testEditor = editormd("markdown", {
            syncScrolling: "single",
            saveHTMLToTextarea: true,
            height: 700,
            // width:960,
            path: "{{url_for('static',filename='mdeditor/lib/')}}",
            //启动本地图片上传功能
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "{{url_for('common.markdown_upload')}}"
        });

        // 修改主页图片
        const mainPicPreview=$(".mainPicPreview");
        const mainPicId=mainPicPreview.attr("id");   // 提交后返回的封面图片的id
        let mainPicUrl;
        $(".result").on("change","#mainPic",function () {
            let file = this.files[0];
            let form = new FormData();
            form.append("pics", file);
            form.append("source", 1);  // 封面图片的source为1
            form.append("source_id",mainPicId);
            $.ajax({
                url: '/api/modifyMainPic/' + mainPicId,
                data: form,
                type: 'post',
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (info) {
                    console.log(info);
                    // 响应成功且没有错误
                    if (info.errorno == 0) {
                        mainPicUrl = info.data.url;
                        mainPicPreview.attr("src", mainPicUrl);
                    }
                },
                error: function (info) {
                    alert(info.msg);
                }
            });
        })

        // 修改项目信息
        const pid=$(".save-info").attr("id");

        let project={};
        $("#info").on("click",".save-info",function () {
            let section=$(this).parent().parent();
            let pname=section.find("#projectTitle").val();  // 项目名称
            let content=testEditor.getHTML();         // 项目介绍
            let src_content=testEditor.getMarkdown();
            let startTime=section.find("#projectTime").val(); // 立项时间
            let type=section.find("#projectCategory").val();  // 项目类别
            let major=section.find("#projectMajor").val(); // 项目专业
            let picId=mainPicId;  // 封面图片id
            if(pname && content && startTime && picId){
                project.pname=pname;
                project.content=content;
                project.src_content=src_content;
                project.startTime=startTime;
                project.type=type;
                project.major=major;
                project.mainPicId=picId;
                $.ajax({
                    url:'/api/modifyPro/'+pid,
                    data:JSON.stringify(project),
                    type:'post',
                    dataType:'json',
                    success:function (info) {
                        if(info.errorno==0){
                            alert("修改成功");
                        }
                    }
                })

            }else{
                alert("请填写必填项");
            }
        });

        // 添加按钮，可以多个添加的类别为项目成员/老师/奖项，项目信息默认只有一个
        // 确定被添加的类别，确定插入的位置，克隆相应的输入框，然后插入到指定位置


        $(".add").click(function () {
            // 确定添加的类别(), 项目信息只有一个且默认显示
            let name=$(this).parent().parent().attr("id");
            console.log(name)
            // 根据类名选择要克隆的表单
            let newForm=$("#input-form").find("."+name).clone(true);
            newForm.removeClass("hide");
            // 确定插入的位置，即div.result中
            let aim=$(this).parent().next();
            // 插入
            aim.append(newForm);
        });

         // 提交/修改成员信息
        $("#member").on("click",".save-member",function () {
            let item = $(this).parent().parent();
            let member = {};
            let name = item.find(".memberName").val();
            let number = item.find(".memberNo").val();
            let classId = item.find(".memberClass").val();
            let grade = item.find(".memberGrade").val();
            let major = item.find(".memberMajor").val();
            let academy = item.find(".memberCollege").val();
            member.name = name;
            member.classId = classId;
            member.number = number;
            member.grade = grade;
            member.major = major;
            member.academy = academy;
            let _this=$(this);
            let mid;
            if($(this).text()=="保存"){
                $.ajax({
                    url: '/api/addProMember/1/' + pid,  // 学生是1
                    data: JSON.stringify(member),
                    dataType: 'json',
                    type: 'post',
                    success: function (info) {
                        console.log(info);
                        if(info.errorno==0){
                            alert("保存成功，请继续添加");
                            mid = info.data.mid;  // 该成员的id，修改时需要
                            _this.text("修改");
                            _this.attr("id",mid);
                            // 取消按钮变成删除按钮
                            _this.next().text("删除");
                        }
                    },
                    error: function (info) {
                        alert(info.msg);
                    }
                })
            };
            if ($(this).text()=="修改") {  // 修改
                $.ajax({
                    url:'/api/modifyProMember/'+_this.attr("id"),
                    data: JSON.stringify(member),
                    dataType: 'json',
                    type: 'post',
                    success:function (info) {
                        if(info.errorno==0) {
                            alert("修改成功");
                       }
                    }
                })
            }

        });

        // 取消/删除按钮
        $("#panel").on("click",".cancel",function(){
            let aim=$(this).parent().parent();  //当前输入框
            let mid=$(this).prev().attr("id");
            // 取消即把当前输入框移除
            if($(this).text()=="取消"){
                aim.remove();
            };
            // 删除: (1)移除当前输入框 (2)向后端发送请求删除数据
            if($(this).text()=="删除"){
                $.ajax({
                    url:'/api/deleteProMember/'+mid,
                    type:'get',
                    success:function (info) {
                        if(JSON.parse(info).errorno==0){
                            alert("删除成功");
                            aim.remove();
                        }
                    }
                })
            }
        });


        // 提交/修改指导老师信息
        $("#teacher").on("click",".save-teacher",function () {
            let item = $(this).parent().parent();
            let teacher = {};
            let name = item.find(".teacherName").val();
            let major = item.find(".teacherMajor").val();
            let academy = item.find(".teacherCollege").val();
            teacher.name = name;
            teacher.major = major;
            teacher.academy = academy;
            let _this = $(this);
            let tid;

            if ($(this).text() == "保存") {
                $.ajax({
                    url: '/api/addProMember/0/' + pid,
                    data: JSON.stringify(teacher),
                    dataType: 'json',
                    type: 'post',
                    success: function (info) {
                        if (info.errorno == 0) {
                            alert("保存成功，请继续添加");
                            tid = info.data.mid;
                            _this.text("修改");
                            _this.attr("id", tid);
                            // 取消按钮变成删除按钮
                            _this.next().text("删除");
                        }
                    }
                });
            }
            if ($(this).text() == "修改") {
                $.ajax({
                    url: '/api/modifyProMember/' + _this.attr("id"),
                    data: JSON.stringify(teacher),
                    dataType: 'json',
                    type: 'post',
                    success: function (info) {
                        if (info.errorno == 0) {
                            alert("修改成功");
                        }
                    }
                })
            }

        });
        
        //添加奖项证书并预览
        let certIdArr=[];
        $(".award").on("change",".certfile",function () {
            let certPreview=$(this).parent().next().find(".certPreview");
            let files=this.files;
            let form=new FormData();
            for(let i=0;i<files.length;i++){
                form.append("pics",files[i]);
            }
            form.append("source", 2);
            $.ajax({
                url:'/api/addPic',
                data:form,
                type: 'post',
                dataType: 'json',
                contentType:false,
                processData:false,
                success:function (msg) {
                    console.log(msg);
                    for(let i=0;i<msg.data.length;i++){
                        let imgWrap=$("<div class='imgWrap'></div>");
                        let certImg=$("<img id='"+msg.data[i].id+"'>");
                        certImg.attr("src",msg.data[i].url);
                        let delBtn=$("<i class='icon-square icon-trash'></i>");
                        imgWrap.append(certImg);
                        imgWrap.append(delBtn);
                        certPreview.append(imgWrap);
                        certIdArr.push(msg.data[i].id);
                    }
                }
            })
        });

        //删除证书图片
        $(".award").on("click",".icon-trash",function () {
            let id=$(this).prev().attr("id");
            let wrap=$(this).parent();
            $.ajax({
                url:"/api/deleteCertFile/"+id,
                type:'get',
                dataType:'json',
                success:function (info) {
                    if(info.errorno==0){
                        wrap.remove();
                        certIdArr.splice(certIdArr.indexOf(id),1);
                    }
                }
            })
        });


        // 提交/修改奖项

        let awardId;
        $(".award").on("click",".save-award",function () {
            let award={};
            let awardItem=$(this).parent().parent();
            award.awardName=awardItem.find(".awardTitle").val();
            award.rank=awardItem.find(".awardCategory").val();
            award.awardTime=awardItem.find(".awardTime").val();
            let _this=$(this);

            if($(this).text()=="修改") {
                $.ajax({
                    url: '/api/modifyProAward/' + _this.attr("id"),
                    data: JSON.stringify(award),
                    dataType: 'json',
                    type: 'post',
                    success: function (info) {
                        if (info.errorno == 0) {
                            alert("修改成功");
                        }
                    }
                });
            }

            if($(this).text()=="保存"){
                award.certids=certIdArr;
                $.ajax({
                    url: '/api/addProAward/' + pid,
                    data: JSON.stringify(award),
                    dataType: 'json',
                    type: 'post',
                    success: function (info) {
                        if(info.errorno==0){
                            alert("保存成功，继续添加");
                            awardId=info.data.id;
                            _this.text("修改");
                            _this.attr("id",awardId);
                            // 取消按钮变成删除按钮
                            _this.next().text("删除");
                        }
                    },
                    error: function (info) {
                        alert(info.msg)
                    }
                })
            }
        });

        // 取消/删除按钮
        $(".panel").on("click",".cancel-award",function(){
            let aim=$(this).parent().parent();  //当前输入框
            let awardId=$(this).prev().attr("id");
            // 取消即把当前输入框移除
            if($(this).text()=="取消"){
                aim.remove();
            };
            // 删除: (1)移除当前输入框 (2)向后端发送请求删除数据
            if($(this).text()=="删除"){
                $.ajax({
                    url:'/api/deleteProAward/'+awardId,
                    type:'get',
                    success:function (info) {

                        if(JSON.parse(info).errorno==0){
                            alert("删除成功");
                            aim.remove();
                        }
                    }
                })
            }
        });

        // 提交审核
        $("#submit").click(function () {
            $.ajax({
                url:'/api/submitProject/'+pid,
                type: 'get',
                success:function (info) {
                    alert(JSON.parse(info).msg);
                    window.location.href="{{url_for('front.user')}}"
                }
            })
        });

      })
</script>

{% endblock %}