{% extends 'tmp01/base.html' %}

{% block page_name %}新闻公告{% endblock %}

{% block static_files %}
<style>

    table.files {
        margin-top: 30px;
    }

    table.files th {
        padding:10px 10px 10px 10px;
        font-size: 16px;
    }

    table.files td {
        padding:0px;
    }

    table.files tr:last-child {
        border-bottom: 1px solid #ddd;
    }

    table.files a {
        color:#333;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        padding:8px;
    }

    table.files a:hover {
        color:#94c045;
    }

</style>
{% endblock %}

{% block body_part %}

<div class="container" >
    <!--新闻列表
    ==========================================================-->
    <div class="row-fluid">
        <table class="table table-hover files">
            <thead>
                <tr>
                    <th>标题</th>
                    <th style="text-align: center">发布时间</th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents %}
                <tr>
                    <td width="82%"> <a href="{{ url_for('front.new',news_id=document.nid) }}">{{ document.title }}</a></td>
                    <td width="18%" style="text-align: center;" class="time">{{ document.publisherTime }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!--分页导航
    ==================================================================-->
    <div class="row-fluid">
        <div class="pagination" style="text-align: center">
            <ul>
                {% if pagination.has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('front.news',page = pagination.page - 1) }}">上一页</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">上一页</a>
                    </li>
                {% endif %}


                {% for p in pagination.iter_pages() %}

                    {% if p == pagination.page%}
                        <li class="page-item active">
                            <a class="page-link" href="{{ url_for('front.news', page = p) }}">{{loop.index}}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('front.news', page = p) }}">{{loop.index}}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if pagination.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('front.news',page = pagination.page + 1) }}">下一页</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">下一页</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
        <!--{% from 'tmp01/macros.html' import pager %}-->
        <!--{{ pager(pagination) }}-->
</div>

{% endblock %}

{% block js_files%}
<script>
    $(document).ready(function () {

        $(".time").each(function () {
            $(this).text($(this).text().slice(0,10));
        });
    })
</script>
{% endblock%}