{% extends 'tmp01/base.html' %}

{% block page_name %}项目展示{% endblock %}

{% block static_files %}
<style>
    .project-title {
        text-align: center;
    }

    .span9 > .span4:nth-of-type(3n+1){
        margin-left: 0;
    }

    .project-title a {
        color: #333;
        text-decoration: none;
    }

    .project-title a:hover {
        color: #94c045;
    }
</style>
{% endblock%}

{% block body_part %}
<section id="subintro">
    <div class="container">
      <div class="row-fluid">
        <div class="span3">
          <aside>
            <div class="widget">
              <form class="form-search">
                <input placeholder="输入关键字" type="text" class="input-medium search-query">
                <button type="submit" class="btn btn-flat btn-color" style="float: none">搜索</button>
              </form>
            </div>
            <div class="widget">
              <h4>类别</h4>
              <ul class="cat">
                <li><a href="#">计算机视觉</a></li>
                <li><a href="#">虚拟\增强现实</a></li>
                <li><a href="#">数据挖掘</a></li>
                <li><a href="#">机器学习</a></li>
                <li><a href="#">其他</a></li>
              </ul>
            </div>
          </aside>
        </div>

        <div class="span9">
          {% for project in projects %}
            <div class="span4">
               <div class="project-image">
                   <a href="{{ url_for('front.project',pid=project.pid) }}">  <!--链接到项目的详情地址-->
					   <img style="height: 200px;" src="{{ url_for('common.image',name=project.mainPic) }}" alt=""> <!--封面图片-->
                   </a>
               </div>
               <div class="project-title">
                   <h5 style="margin: 5px 0px">
                       <a href="{{ url_for('front.project',pid=project.pid) }}">{{project.pname}}</a> <!--项目标题-->
                   </h5>
               </div>
               <div class="project-info">
                   <table class="table table-condensed" >
                       <tbody>
                            <tr>
                                <td width="50%"><i class="icon-square icon-user"></i><span>{{project.publisher}}</span></td>
                                <td style="text-align: right" class="time"><i class="icon-circled icon-calendar"></i><span>{{project.submitTime}}</span></td>
                            </tr>
                       </tbody>
                   </table>
               </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

</section>
{% endblock %}

{% block js_files%}
<script>
    $(document).ready(function () {
        $(".time span").each(function () {
            $(this).text($(this).text().slice(0,10));
        });
    })
</script>

{% endblock %}