{% extends 'tmp01/base.html' %}

{% block page_name %}项目预览{% endblock %}

{% block body_part %}
<section>
    <div class="container">
        <div class="row-fluid">
            <div style="display: flex;justify-content: space-between">
                <p><a href="{{url_for('front.user')}}">个人中心</a></p>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span9">
                <div>
                    <h2>{{project.pname}}</h2>
                    <p>{{project.content }}</p>
                </div>
                <div>荣获奖项</div>
            </div>
            <div class="span3">
                <div class="project-widget">
                    <h4>项目类别</h4>
                    {% if project.type==1 %}
                        <p>App开发/微信小程序开发</p>
                    {% endif %}
                    {% if project.type==2 %}
                        <p>通信/网络</p>
                    {% endif %}
                    {% if project.type==3 %}
                        <p>软件系统</p>
                    {% endif %}
                    {% if project.type==4 %}
                        <p>硬件系统</p>
                    {% endif %}
                    {% if project.type==5 %}
                        <p>视频/图像</p>
                    {% endif %}
                    {% if project.type==6 %}
                        <p>大数据/机器学习</p>
                    {% endif %}
                    <h4>项目专业</h4>
                    <p>{{project.status.major}}</p>
                    <h4>立项时间</h4>
                    <p>{{ project.status.startTime }}</p>
                    <h4>项目成员</h4>
                    {% for member in project.members %}
                        {% if member.type==1 %}    <!--学生类型1-->
                        <div>
                            <p><span>{{ member.name }}|</span><span>{{ member.number  }}|</span><span>{{ member.classId }}</span></p>
                            <p><span>{{ member.grade }}|</span><span>{{ member.major }}|</span><span>{{ member.academy }}</span></p>
                        </div>
                        {% endif %}
                    {% endfor %}
                     <h4>指导老师</h4>
                    {% for member in project.members %}
                    {% if member.type==0 %}    <!--老师类型0-->
                        <p><span>{{ member.name }}|</span><span>{{ member.major }}|</span><span>{{ member.academy }}</span></p>
                    {% endif %}
                    {% endfor %}
                    <h4>所获奖项</h4>
                    {% for award in project.awards %}
                        <p><span>{{ award.awardName }}|</span><span>{{ award.awardTime }}</span></p>
                        <p><span>{{ award.rank }}</span></p>
                        <p>
                            {% for i in award.pics %}
                            <img height="200" src="{{i.url}}" alt="">
                            {% endfor %}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
