{% extends 'tmp01/base.html' %}

{% block page_name %}项目展示\id={{ project.id }}{% endblock %}

{% block body_part %}
<section id="subintro">
  <div class="container">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#general-template"><i class="icon-chevron-right"></i>项目简介</a></li>
          <li><a href="#contents"><i class="icon-chevron-right"></i> 项目成员</a></li>
          <li><a href="#html-template"><i class="icon-chevron-right"></i> 项目资料</a></li>
          <li><a href="#what-next"><i class="icon-chevron-right"></i> 所获奖项</a></li>
        </ul>
      </div>
      <div class="span9">
        <!-- Download
        ================================================== -->
        <section id="general-template" class="doc">
          <div class="page-header">
            <h3>{{ project.pname }}</h3>
          </div>
          <p>{{ project.introduction }}</p>
        </section>

        <!-- Contents
        ================================================== -->
        <section id="contents" class="doc">
          <div class="page-header">
            <h3>项目成员</h3>
          </div>
          <p>
            Serenity template comes equipped with HTML, CSS, and JS for all sorts of things also some PSD elements with template documentation to guide you when use this template. Otherwise all things already summarized with a handful of categories visible at the
            top of the <a href="overview.html">Serenity overview</a>.
          </p>
        </section>
        <!-- HTML template
        ================================================== -->
        <section id="html-template" class="doc">
          <div class="page-header">
            <h3>项目资料</h3>
          </div>
          <p>
            With a brief intro into the contents out of the way, we can focus on putting Bootstrap to use. To do that, we'll utilize a basic HTML template that includes everything we mentioned in the <a href="#file-structure">File structure</a>.
          </p>
        </section>
        <!-- Next
        ================================================== -->
        <section id="what-next" class="doc">
          <div class="page-header">
            <h3>所获奖项</h3>
          </div>
          <p>
            Read Serenity documentation file that included in the download package and enjoy the template! For template support please send email via <a href="https://wrapbootstrap.com/user/iWebstudio">our profile contact form</a>.
          </p>
        </section>
      </div>
    </div>
  </div>
</section>
{% endblock %}

