{% extends 'tmp01/base.html' %}

{% block page_name %}项目展示{% endblock %}

{% block body_part %}
<section id="subintro">
    <div class="container">
      <div class="row-fluid">
        <div class="span3">
          <aside>
            <div class="widget">
              <form class="form-search">
                <input placeholder="输入关键字" type="text" class="input-medium search-query">
                <button type="submit" class="btn btn-flat btn-color" style="float: none">搜索</button>
              </form>
            </div>
            <div class="widget">
              <h4>类别</h4>
              <ul class="cat">
                <li><a href="#">计算机视觉</a></li>
                <li><a href="#">虚拟\增强现实</a></li>
                <li><a href="#">数据挖掘</a></li>
                <li><a href="#">机器学习</a></li>
                <li><a href="#">其他</a></li>
              </ul>
            </div>
          </aside>
        </div>
        <div class="span9">
          <!-- start article 1 -->
          {% for project in projects %}
<div class="span4">
               <div class="project-image">
                   <a href="{{ url_for('front.project',pid=project.pid) }}">  <!--链接到项目的详情地址-->
					   <img src="{{url_for('static',filename='tmp01/images/project.jpg')}}" alt=""> <!--需要一张封面图片-->
                   </a>
               </div>
               <div class="project-title">
                   <a href="{{ url_for('front.project',pid=project.pid) }}"> <!--需要链接到项目的详情地址-->
                       <h5>{{project.pname}}</h5> <!--项目标题-->
                   </a>
               </div>
               <div class="project-info">
                   <table class="table table-condensed" >
                       <tbody>
                            <tr>
                                <td width="50%"><i class="icon-square icon-user"></i><span>{{project.publisher}}</span></td>
                                <td style="text-align: right" class="time"><i class="icon-circled icon-calendar"></i><span>{{project.submitTime}}</span></td>
                            </tr>
                       </tbody>
                   </table>
               </div>
           </div>
          {% endfor %}
        </div>
      </div>
    </div>
<!-- Footer
 ================================================== -->
  <div class="clear" style="clear: both;"></div>
  <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>&copy; 北京邮电大学</p>
          </div>
          <div class="span6">
            <div class="pull-right">
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Scaffold
                -->
              </div>
            </div>
          </div>
        </div>
      </div>
  </footer>
</section>
{% endblock %}

{% block js_files%}
<script>
    $(document).ready(function () {
        var raw=$(".time span").text();
        console.log(raw);
        $(".time span").text(raw.slice(0,10));
    })
</script>

{% endblock %}