{% extends 'tmp01/base.html' %}

{% block page_name %}项目预览{% endblock %}

{% block body_part %}
<section>
    <div class="container">
        <div class="row-fluid">
            <div class="span9">
                <div>
                    <h2>{{project.pname}}</h2>
                    <p>{{project.content|safe }}</p>
                </div>
                <div>荣获奖项</div>
            </div>
            <div class="span3">
                <div class="project-widget">
                <h4>项目类别</h4>
                <p>{{project.type}}</p>
                <h4>项目成员</h4>
                <table style="margin-bottom: 15px">
                    <tbody>
                {% for member in project.members %}
                {% if member.type==1 %}    <!--学生类型1-->
                    <tr>
                        <td>{{member.name}}</td>
                        <td>{{member.academy}}</td>
                        <td>{{member.grade}}</td>
                        <td>{{member.brief}}</td>
                    </tr>
                {% endif %}
                {% endfor %}
                    </tbody>
                </table>

                 <h4>指导老师</h4>
                 <table style="margin-bottom: 15px">
                    <tbody>
                {% for member in project.members %}
                {% if member.type==0 %}    <!--老师类型0-->
                    <tr>
                        <td>{{member.name}}</td>
                        <td>{{member.brief}}</td>
                    </tr>
                {% endif %}
                {% endfor %}
                    </tbody>
                </table>

                {% for award in project.awards %}
                    <h4>所获奖项</h4>
                    <p>{{ award.awardName }}</p>
                    <h4>获奖链接</h4>
                    <p>{{award.honorLink}}</p>
                    <h4>获奖证书</h4>
                    {% for i in award.pics %}
                    <img height="200" src="{{ url_for('common.image',name=i) }}" alt="">
                    {% endfor %}
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js_files %}
<script>
    $(document).ready(function () {

    });
</script>
{% endblock %}