{% extends 'tmp01/base.html' %}

{% block page_name %}项目展示{% endblock %}

{% block static_files %}
<style>
    .project-title {
        text-align: center;
    }

    .span9 > .span4:nth-of-type(3n+1){
        margin-left: 0;
    }

    .project-title a {
        color: #333;
        text-decoration: none;
    }

    .project-title a:hover {
        color: #94c045;
    }
</style>
{% endblock%}

{% block body_part %}
<section>
    <div class="container">
      <div class="row-fluid">
        <div class="span3">
          <aside>
            <div class="widget">
              <h4>筛选</h4>
              <form action="/projects" method="get">
                 <div class="tableRow">
                    <label>项目开始时间</label>
                    <input type="date" name="startTime" id="startTime">
                 </div>
                  <div>
                      <label>项目结束时间</label>
                      <input type="date" name="endTime" id="endTime">
                  </div>
                  <div class="tableRow">
                      <label>项目来源</label>
                      <select id="source" name="source">
                          <option value="-1">全部</option>
                          <option value="1">大创</option>
                          <option value="2">雏雁</option>
                          <option value="3">竞赛</option>
                          <option value="4">课程</option>
                          <option value="0">其他</option>
                      </select>
                  </div>
                  <div class="tableRow">
                    <label>项目专业</label>
                    <select id="projectMajor" name="major">
                        <option value="0">全部</option>
                        <option value="1">通信工程</option>
                        <option value="2">信息工程</option>
                        <option value="3">电子信息工程</option>
                    </select>
                  </div>
                  <div class="tableRow">
                    <label>项目类别</label>
                    <select id="projectCategory" name="type">
                        <option value="-1">全部</option>
                        <option value="1">App开发/微信小程序开发</option>
                        <option value="2">通信/网络</option>
                        <option value="3">软件系统</option>
                        <option value="4">硬件系统</option>
                        <option value="5">视频/图像</option>
                        <option value="6">大数据/机器学习</option>
                    </select>
                  </div>
                  <div class="tableRow">
                      <input type="submit" id="select" value="确定">
                  </div>
              </form>
            </div>
          </aside>
        </div>
        <div class="span9">
            {% if projects %}
            {% for project in projects %}
              <div class="span3">
                   <div class="project-image">
                       <a href="{{ url_for('front.project',pid=project.pid) }}">  <!--链接到项目的详情地址-->
                           <img style="height: 200px;width: 100%" src="{{ url_for('common.image',name=project.pic.path) }}" alt=""> <!--封面图片-->
                       </a>
                   </div>
                   <div class="project-title">
                       <h5 style="margin: 5px 0px">
                           <a href="{{ url_for('front.project',pid=project.pid) }}">{{project.pname}}</a> <!--项目标题-->
                       </h5>
                   </div>
                   <div class="project-info">
                       <table class="table table-condensed" >
                           <tbody>
                                <tr>
                                    <td width="50%"><i class="icon-user"></i><span>{{project.publisher}}</span></td>
                                    <td style="text-align: right" class="time"><i class="icon-calendar"></i><span>{{project.submitTime}}</span></td>
                                </tr>
                           </tbody>
                       </table>
                   </div>
                </div>
            {% endfor %}
            {% else %}
            <p>未找到符合条件的项目</p>
            {% endif%}
        </div>
      </div>


  <!--分页导航
    ==================================================================-->

    <div class="row-fluid">
        <div class="pagination" style="text-align: center">
            <ul>
                {% if pagination.has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('front.projects',page = pagination.page - 1,count = 10) }}">上一页</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">上一页</a>
                    </li>
                {% endif %}


                {% for p in pagination.iter_pages() %}

                    {% if p == pagination.page%}
                        <li class="page-item active">
                            <a class="page-link" href="{{ url_for('front.projects', page = p,count = 10) }}">{{loop.index}}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('front.projects', page = p,count = 10) }}">{{loop.index}}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if pagination.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('front.projects',page = pagination.page + 1,count = 10) }}">下一页</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">下一页</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

</div>


</section>
{% endblock %}

{#{% block js_files%}#}
{#<script>#}
{#    $(document).ready(function () {#}
{#        $(".time span").each(function () {#}
{#            $(this).text($(this).text().slice(0,10));#}
{#        });#}
{##}
{#        //筛选#}
{#        $("input#select").click(function () {#}
{#            var data={};#}
{#            data.major=$("#projectMajor").val();#}
{#            data.startTime=$("#startTime").val();#}
{#            data.endTime=$("#endTime").val();#}
{#            data.type=$("#projectCategory").val();#}
{#            $.ajax({#}
{#                url:`/projects?major=${data.major}&startTime=${data.startTime}&endTime=${data.endTime}&type=${data.type}`,#}
{#                type:'get',#}
{#                success:function () {#}
{#                    console.log("hhh");#}
{#                    window.location.href="{{url_for('front.projects')}}"#}
{#                }#}
{#            })#}
{##}
{#        })#}
{#    })#}
{##}
{##}
{#</script>#}

{#{% endblock %}#}