{% extends 'tmp01/base.html' %}

{% block page_name %}登录{% endblock %}

{% block body_part %}
<section id="register">
  <div class="container">
  <div class="regi">
    <h3>注册</h3>
    <form class="form-horizontal" onsubmit="return false">
      <div class="control-group">
        <label class="control-label" for="username"> 用户名</label>
        <div class="controls">
          <input type="text" id="username" placeholder="请输入用户名">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password">输入密码</label>
        <div class="controls">
          <input type="password" id="password" placeholder="请输入密码">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="againPassword">确认密码</label>
        <div class="controls">
          <input type="password" id="againPassword" placeholder="请确认密码">
        </div>
      </div>
      <button type="submit" class="btn btn-block btn-large btn-color" onclick="MAIN.register()">注册</button>
    </form>
  </div>

  </div>
  </section>

<script>

  var MAIN = {};
  MAIN.register = function () {
      var req = {};
      req.username = $('#username').val().trim();
      req.password = $('#password').val().trim();
      var pw = $('#againPassword').val().trim();

      if (req.password == pw){
          Af.rest("/api/register",req,function (data) {
          Af.log(data)
          alert(data.msg);
        })
      }else{
          alert("两次输入的密码不相等");
      }

  }
</script>
{% endblock %}
