<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/mdeditor/editormd.min.css">
</head>
<body>
<div id="markdown"></div>

</body>
	<script src="/static/js/jquery-2.1.0.min.js"></script>
    <script src="/static/mdeditor/editormd.js"></script>
    <script type="text/javascript">
        //markdown编辑器设置
        var testEditor;

        testEditor = editormd("markdown", {
            syncScrolling: "single",
            saveHTMLToTextarea: true,
            height: 700,
            // width:960,
            path: "{{url_for('static',filename='mdeditor/lib/')}}",
            //启动本地图片上传功能
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
        });
    </script>

</html>