{% extends 'tmp01/base.html' %}

{% block page_name %}用户中心{% endblock %}

{% block static_files%}
<style>
    a:hover {
        text-decoration: none;
    }

    .widget a {
        display: block;
        width:100%;
        height:40px;
        line-height: 40px;
        color:#333;
        text-decoration: none;
        font-size:20px;
        font-weight: bold;
    }

    .widget .show a:hover {
        background: #eee;
    }

    .widget ul {
        text-align: center;
        list-style: none;
    }

    .widget ul li {
        margin:30px 0;
    }

    .widget ul a.active {
        color:#94c045;
    }


    #myTabContent>.tab-pane> .span4:nth-child(3n+1) {
        margin-left: 0;
    }

    .project-title h5 {
        margin-bottom: 5px;
        text-align: center;
    }

    .project-info {
        margin-bottom: 10px;
    }

    #myTab li {
        width: 25%;
        text-align: center;
    }

    .project-image img {
        height:200px;
    }

</style>
{% endblock %}

{% block body_part %}
<section id="subintro">
    <div class="container">
        <div class="row-fluid">
            <div class="span3">
               <aside>
                    <div class="widget">
                      <ul class="cat show">
                          <li style="padding-left: 0"><a style="color:#94c045;" href="{{url_for('front.manageProject')}}">我的项目</a></li>
                          <li style="padding-left: 0"><a href="{{url_for('front.uploadProjectTmp')}}">上传项目</a></button></li>
                      </ul>
                    </div>
              </aside>
            </div>
            <div class="span9">
                <div class="myProject">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="#release" data-toggle="tab">已发布项目</a></li>
                        <li><a href="#examine" data-toggle="tab">待审核项目</a></li>
                        <li><a href="#fail" data-toggle="tab">未通过项目</a></li>
                        <li><a href="#unsubmitted" data-toggle="tab">未提交项目</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="release">   <!--未提交1 待审核2 已发布3 未通过4-->
                            {% for projectItem in project %}
                                {% if projectItem.status==3 %}
                                   <div class="span4">
                                       <div class="project-image">
                                           <a href="{{ url_for('front.project',pid=projectItem.pid) }}">  <!--链接到项目的详情地址-->
                                               <img style="width:100%;height: 200px" src="{{ url_for('common.image',name=projectItem.mainPic) }}" alt=""> <!--封面图片-->
                                           </a>
                                       </div>
                                       <div class="project-title">
                                           <a href="{{ url_for('front.project',pid=projectItem.pid) }}"> <!--链接到项目的详情地址-->
                                               <h5>{{projectItem.pname}}</h5> <!--项目标题-->
                                           </a>
                                       </div>
                                       <!--<div class="project-info">-->
                                            <!--<span>编辑</span><span>删除</span>-->
                                       <!--</div>-->
                                   </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade" id="examine">
                            {% for projectItem in project %}
                                {% if projectItem.status==2 %}
                                   <div class="span4">
                                       <div class="project-image">
                                           <a href="{{ url_for('front.project',pid=projectItem.pid) }}">  <!--链接到项目的详情地址-->
                                               <img style="width:100%;height: 200px" src="{{ url_for('common.image',name=projectItem.mainPic) }}" alt=""> <!--封面图片 待调试-->
                                           </a>
                                       </div>
                                       <div class="project-title">
                                           <a href="{{ url_for('front.project',pid=projectItem.pid) }}"> <!--链接到项目的详情地址-->
                                               <h5>{{projectItem.pname}}</h5> <!--项目标题-->
                                           </a>
                                       </div>
                                       <div class="project-info">
                                            <span class="btn btn-color cancel" p_id="{{ projectItem.pid }}"><i class="icon-remove"></i>撤销</span>
                                            <span style="margin-left: 10%" class="btn btn-inverse delete" p_id="{{ projectItem.pid }}"><i class="icon-remove"></i>删除</span>
                                       </div>
                                   </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade" id="fail">
                            {% for projectItem in project %}
                                {% if projectItem.status==4 %}
                                   <div class="span4">
                                       <div class="project-image">
                                           <a href="{{ url_for('front.project',pid=projectItem.pid) }}">  <!--链接到项目的详情地址-->
                                               <img style="width:100%;height: 200px" src="{{ url_for('common.image',name=projectItem.mainPic) }}" alt=""> <!--封面图片-->
                                           </a>
                                       </div>
                                       <div class="project-title">
                                           <a href="{{ url_for('front.project',pid=projectItem.pid) }}"> <!--链接到项目的详情地址-->
                                               <h5>{{projectItem.pname}}</h5> <!--项目标题-->
                                           </a>
                                       </div>
                                       <div class="project-info">
                                           <span class="btn btn-color"><a style="color:#fff" href="{{ url_for('front.modifiesProject',pid=projectItem.pid) }}"><i class="icon-pencil"></i>编辑</a></span>
                                           <span style="margin-left: 10%" class="btn delete btn-reverse" p_id="{{ projectItem.pid }}"><i class="icon-remove"></i>删除</span>
                                       </div>
                                   </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade" id="unsubmitted">
                            {% for projectItem in project %}
                                {% if projectItem.status==1 %}
                                   <div class="span4">
                                       <div class="project-image">
                                           <a href="{{ url_for('front.project',pid=projectItem.pid) }}">  <!--链接到项目的详情地址-->
                                               <img style="width:100%;height: 200px" src="{{ url_for('common.image',name=projectItem.mainPic) }}" alt=""> <!--封面图片-->
                                           </a>
                                       </div>
                                       <div class="project-title">
                                           <a href="{{ url_for('front.project',pid=projectItem.pid) }}"> <!--链接到项目的详情地址-->
                                               <h5>{{projectItem.pname}}</h5> <!--项目标题-->
                                           </a>
                                       </div>
                                       <div class="project-info">
                                           <span class="btn btn-color"><a style="color:#fff" href="{{ url_for('front.modifiesProject',pid=projectItem.pid) }}"><i class="icon-pencil"></i>编辑</a></span>
                                           <span style="margin-left: 10%;color:#fff" class="btn delete btn-inverse" p_id="{{ projectItem.pid}}"><i class="icon-remove"></i>删除</span>
                                       </div>
                                   </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block js_files%}
<script>
$(function () {
    //去掉导航栏第一个active
        //更改导航栏的active
        $("li:first").removeClass("active");
        $("li").eq(5).addClass("active");


    // 待审核项目撤回
     $(".cancel").click(function () {
      if (cancel_confirm()) {
          var data = {};
          data.pid = $(this).attr('p_id');
          console.log(data.pid);

          $.ajax({
              url: '{{ url_for("front.stuUodoPro") }}',
              type: 'post',
              data: JSON.stringify(data),
              dataType: 'json',
              success: function (data) {
                  alert(data.msg);
                  window.location.href="{{url_for('front.user')}}"
                  // window.location.href="/back01/lab"
              },
              error: function (data) {
                  alert(data.msg)

              }
          });
      }
     });

     //删除项目
     $(".delete").click(function () {
      if (delete_confirm()) {
          var data = {};
          data.pid = $(this).attr('p_id');
          console.log(data.pid);

          $.ajax({
              url: '/api/student/deletePro',
              type: 'post',
              data: JSON.stringify(data),
              dataType: 'json',
              success: function (data) {
                  alert(data.msg);
                  // window.location.href="/back01/lab"
                  window.location.href="{{url_for('front.user')}}"
              },
              error: function (data) {
                  alert(data.msg)

              }
          });
      }
     });

  function cancel_confirm() {
       if (window.confirm('确定撤回吗？')){
           return true;
       }
       else{
           return false;
       }
  }

  //删除项目

  function delete_confirm() {
       if (window.confirm('确定删除吗？')){
           return true;
       }
       else{
           return false;
       }
  }

});

</script>
{% endblock%}
