{% extends 'tmp01/base.html' %}

{% block page_name %}首页{% endblock %}

{% block static_files %}
    <style>
    @media (min-width: 1200px){
    .row {
         margin-left: 0px;
        }
    }
    </style>
{% endblock %}

{% block body_part%}
  <!--主页滚动图片
  ============================================= -->
   <section id="intro">
    <div class="jumbotron masthead">

     <div class="container">
        <div class="row">
          <div class="span12">
            <div class="camera_wrap camera_black_skin" id="camera_wrap_2">
              <div data-thumb="{{ url_for('static',filename='tmp03/img/slides/camera/img1.jpg')}}" data-src="{{ url_for('static',filename='tmp03/img/slides/camera/img1.jpg')}}">
                <div class="camera_caption fadeFromBottom">
                  <h2>We innovate now</h2>
                  <div class="hidden-phone">
                    <p>
                      Mei ad recteque rationibus, ex quaeque civibus eloquentiam vim. Solet cetero id nam. Ne eos nonumy voluptua, vis nobis euismod qualisque te, no nam debet oporteat.
                    </p>
                  </div>
                </div>
              </div>
              <div data-thumb="{{ url_for('static',filename='tmp03/img/slides/camera/img2.jpg')}}" data-src="{{ url_for('static',filename='tmp03/img/slides/camera/img2.jpg')}}">
                <div class="camera_caption fadeFromBottom">
                  <h2>Responsive layout</h2>
                  <div class="hidden-phone">
                    <p>
                      Nam omnium salutandi ad, accusam indoctum ne mel, posse expetendis mea at. Luptatum antiopam pro ne. Eum at autem antiopam sadipscing, an his omnis splendide perfecto.
                    </p>
                  </div>
                </div>
              </div>
              <div data-thumb="{{ url_for('static',filename='tmp03/img/slides/camera/img3.jpg')}}" data-src="{{ url_for('static',filename='tmp03/img/slides/camera/img3.jpg')}}">
                <div class="camera_caption fadeFromBottom">
                  <h2>Metro style</h2>
                  <div class="hidden-phone">
                    <p>
                      Lorem ipsum dolor sit amet, dicam singulis in ius, eu timeam aperiam pri. His suas solum legimus eu, sea an duis habemus urbanitas. No sapientem consetetur sit an.
                    </p>
                  </div>
                </div>
              </div>
              <div data-thumb="{{ url_for('static',filename='tmp03/img/slides/camera/img4.jpg')}}" data-src="{{ url_for('static',filename='tmp03/img/slides/camera/img4.jpg')}}">
                <div class="camera_caption fadeFromBottom">
                  <h2>Lot of features</h2>
                  <div class="hidden-phone">
                    <p>
                      Sit et laudem aperiri argumentum. Vim laboramus instructior eu, minim aliquid accusata ut est, sea ut ridens causae quaerendum. Ea vide posidonium usu qui ad pertinax.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- #camera_wrap_1 -->

          </div>
        </div>
      </div>
    </div>
  </section>

  <!--最新 公告/项目/常见问题
  ==================================================== -->
  <section id="latest">
    <div class="container" >
      <div class="row">
        <div class="span12">
          <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#news" data-toggle="tab">最新公告</a></li>
            <li><a href="#projects" data-toggle="tab">项目展示</a></li>
            <li><a href="#questions" data-toggle="tab">常见问题</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">

          <!--最新新闻公告
          ================================================= -->
            <div class="tab-pane fade in active" id="news">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>标题</th>
                    <th style="text-align: center;">发布时间</th>
                  </tr>
                </thead>
                <tbody>
                {% for document in documents %}
                  <tr>
                    <td width="85%"><a href="{{ url_for('tmp01.news_detail',news_id=document.id) }}">{{ document.title }}</a></td>
                    <td width="15%" style="text-align: center;">{{ document.created_time }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <button type="buttom" class="btn btn-color"><a href="{{ url_for('tmp01.news') }}">获取更多</a></button>
            </div>

          <!--最新项目展示
          ============================================== -->
            <div class="tab-pane fade" id="projects">
            <div class="row">
            {% for project in projects %}
              <div class="span4">
                <div class="post-image">
                  <a href="#">                       <!--怎么链接到项目的展示页面 -->
                    <img src="{{ project.picture}}" alt="">  <!--怎么展示数据库的图片？？-->
                  </a>
                </div>
                <div class="entry-meta">
                  <a href="#"><i class="icon-square icon-48 icon-pencil left"></i></a>
                  <span class="date">{{ project.create_time }}</span>
                </div>
                <div class="entry-body">
                  <a href="#">
                    <h5 class="title">{{ project.pname }}</h5>
                  </a>
                  <p>{{ project.introduction }}</p>
                </div>
                <div class="clear">
                </div>
              </div>
            {% endfor %}
            </div>
               <button type="buttom" class="btn btn-color"><a href="{{ url_for('tmp01.projects') }}">获取更多</a></button>
            </div>

          <!--常见问题  暂定
          ============================================= -->
            <div class="tab-pane fade" id="questions">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th></th>
                    <th>标题</th>
                    <th>发布时间</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="2%">1</td>
                    <td width="80%"><a href="#">Mark</a></td>
                    <td width="18%">Otto</td>
                  </tr>
                  <tr>
                    <td width="2%">1</td>
                    <td width="80%">Mark</td>
                    <td width="18%">Otto</td>
                  </tr>
                  <tr>
                    <td width="2%">1</td>
                    <td width="80%">Mark</td>
                    <td width="18%">Otto</td>
                  </tr>
                  <tr>
                    <td width="2%">1</td>
                    <td width="80%">Mark</td>
                    <td width="18%">Otto</td>
                  </tr>
                  <tr>
                    <td width="2%">1</td>
                    <td width="80%">Mark</td>
                    <td width="18%">Otto</td>
                  </tr>
                </tbody>
              </table>

                <button type="buttom" class="btn btn-color"><a href="#">获取更多</a></button>

            </div>
          </div>
        </div>
      </div>
    </div>
   <footer class="footer">


{#    <div class="verybottom">#}
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>&copy; Scaffold - All right reserved</p>
          </div>
          <div class="span6">
            <div class="pull-right">
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Scaffold
                -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
          </div>
        </div>
      </div>

{#    </div>#}
  </footer>
  </section>
{% endblock %}
{# <footer class="footer">#}
{##}
{##}
{#    <div class="verybottom">#}
{#      <div class="container">#}
{#        <div class="row">#}
{#          <div class="span6">#}
{#            <p>&copy; Scaffold - All right reserved</p>#}
{#          </div>#}
{#          <div class="span6">#}
{#            <div class="pull-right">#}
{#              <div class="credits">#}
{#                <!--#}
{#                  All the links in the footer should remain intact.#}
{#                  You can delete the links only if you purchased the pro version.#}
{#                  Licensing information: https://bootstrapmade.com/license/#}
{#                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Scaffold#}
{#                -->#}
{#                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{##}
{#    </div>#}
{#  </footer>#}