{% extends 'tmp03/base.html' %}

{% block page_name %}项目展示{% endblock %}

{% block static_files %}
       <style>
       a{
           color:#333;
       }
       .btn {
    float: right;
}
.btn a{
    color: #fff;
}

.btn a:hover ,.btn a:focus{
    text-decoration: none;
}
   </style>
{% endblock %}

{% block body_part %}
      <section id="maincontent" style="margin-top: 80px;">
    <div class="container">

      <div class="row">
        <div class="span4">
          <aside>
            <div class="widget">
              <form class="form-search">
                <input placeholder="输入关键字" type="text" class="input-medium search-query">
                <button type="submit" class="btn btn-flat btn-color" style="float: none">搜索</button>
              </form>
            </div>
            <div class="widget">
              <h4>类别</h4>
              <ul class="cat">
                <li><a href="#">网站设计 (114)</a></li>
                <li><a href="#">虚拟现实 (15)</a></li>
                <li><a href="#">大数据 (20)</a></li>
                <li><a href="#">机器学习 (15)</a></li>
                <li><a href="#">人工智能(10)</a></li>
              </ul>
            </div>
            <div class="widget">
              <h4>年份</h4>
              <ul class="recent-posts">
                <li><a href="#">2018</a>
                </li>
                <li><a href="#">2017</a>
                </li>
                <li><a href="#">2016</a>
                </li>
              </ul>
            </div>

          </aside>
        </div>
        <div class="span8">
          <!-- start article 1 -->
            {% for project in projects %}
          <article class="blog-post">
            <div class="post-heading">
              <h3>{{ project.pname }}</h3>
            </div>
            <div class="row">
              <div class="span3">
                <div class="post-image">
                  <img src="../../static/tmp02/img/projects/2013.jpg" alt="" />
                </div>
              </div>
              <div class="span5">
                <ul class="post-meta">
                  <li class="first"><i class="icon-calendar"></i><span>2018/03/02</span></li>
                  <li><i class="icon-list-alt"></i><span><a href="#">3个评论 2个点赞</a></span></li>
                </ul>
                <div class="clearfix">
                </div>
                <p>{{ project.introduction }}</p>
                <button class="btn btn-small btn-success" type="button"><a href="{{url_for('tmp03.projects_detail',project_id=project.id)}}">更多</a></button>
              </div>
            </div>
          </article>

            {% endfor %}

        </div>
      </div>

      <div class="row">
        <div class="span12">
          <div class="pagination" style="float: right">
            <ul>
              <li><a href="#">Prev</a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>
{% endblock %}