{% extends 'back01/base.html' %}

{% block static_files %}


{% endblock %}

{% block body_part %}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-files-o"></i>添加实验室</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">主页</a></li>
                    <li><i class="icon_document_alt"></i>基地管理</li>
                    <li><i class="fa fa-files-o"></i>添加实验室</li>
                </ol>
            </div>
        </div>
        <!-- Form validations -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        添加实验室
                    </header>
                    <div class="panel-body">
                        <div class="form article">
                            <form class="form-horizontal" onsubmit="return false" action="##" method="post">
                                <div class="form-group ">
                                    <label for="title" class="control-label col-lg-2">标题<span
                                            class="required">*</span></label>
                                    <div class="col-lg-10">
                                        <input class="form-control title" id="title" name="title"
                                               type="text" required/>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="brief" class="control-label col-lg-2">简介<span
                                            class="required">*</span></label>
                                    <div class="col-lg-10">
                                        <textarea class="form-control ckeditor brief" name="brief" rows="6"
                                                  id="brief"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-8">
                                        <button class="btn btn-primary" onclick="MAIN.onSave(0)">保存</button>
                                        <button class="btn btn-default" type="button">取消</button>
                                    </div>
                                    <div class="col-lg-2">
                                        <button class="btn btn-primary" onclick="MAIN.onSave(1)">保存并发布</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </section>
</section>

<script>

    var MAIN = {};

    MAIN.init = function () {

    }


    MAIN.onSave = function (type) {
        var req = {};
        req.title = $('.title').val().trim();
        req.brief = $('.brief').val().trim();

        Af.rest("/back01/addLab",req,function (data) {
            alert(data);
            $("input").value("");
        })
    }



</script>


{% endblock %}