.news-header{
  margin-bottom: 20px;
}

form{
  margin: 5px 0px;
  padding-left: 60px;
}
.table td, .table th{
  border-top:0px;
  border-bottom: 1px solid #ddd;
}
.table a{
  display: block;
  color: #000;
}
.table a:hover{
  color: #000;
  text-decoration: none;
}