{% extends 'back01/base.html' %}

{% block static_files %}


{% endblock %}

{% block body_part %}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-files-o"></i>添加实验室</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">主页</a></li>
                    <li><i class="icon_document_alt"></i>基地管理</li>
                    <li><i class="fa fa-files-o"></i>添加实验室</li>
                </ol>
            </div>
        </div>
        <!-- Form validations -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        查询实验室
                    </header>
                    <div class="panel-body">
                        <div class="form article">
                            <form class="form-horizontal" id="search" method="post" onsubmit="return false" action="##">
                                <div class="form-group">
                                    <div class="col-lg-5">
                                        <input class="form-control keyword" id="keyword" name="keyword" type="text" placeholder="Search">
                                    </div>
                                    <div class="col-lg-2">
                                        <button class="btn btn-primary" onclick="search()">搜索</button>
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>
                </section>
            </div>
        </div>

        <div class="row" >
            <div class="col-lg-12" id="result">
                <p></p>
            </div>
        </div>

    </section>
</section>

<script>
function search() {
    var data = {}
    data['keyword'] = $("#keyword").val()

    $.ajax({
        type: 'POST',
        url: '/api/lab',
        data: JSON.stringify(data), <!--传给后端的json数据-->
        dataType: 'json',           <!--规定后端传过来的数据是json格式-->
        success:function (data) {       <!--成功后的回调函数 这个函数的使用格式和Juery的版本有关吗? 怎么把后端传过来的数据显示出来？-->
                var title = data.title;
                $("#result").append("<p>"+title+"</p>");
            },
        error: function () {
            alert('失败')
        }
    });
}

</script>


{% endblock %}