{% extends 'back01/base.html' %}

{% block static_files %}
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/ueditor.config.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/ueditor.all.min.js') }}"> </script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/lang/zh-cn/zh-cn.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{url_for('static',filename='js/bootstrap.js')}}"></script>

{% endblock %}

{% block body_part %}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">主页</a></li>
                    <li><i class="icon_document_alt"></i>基地管理</li>
                    <li><i class="fa fa-files-o">修改实验室</i></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">修改实验室</header>
                    <div class="panel-body">
                        <form class="form-validate form-horizontal" action="#" onclick="return false">
                            <div class="form-group">
                                <label for="name" class="control-label col-lg-2">名称<span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control name" id="name" name="name" type="text" value="{{lab.name}}"/>
                                </div>
                            </div>
                            <div class="form-group" id="lab_id" lab_id="{{lab.id}}">
                                <span id="data-content" data-content="{{lab.introduction}}"></span>
                                <label class="control-label col-lg-2">简介<span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <div id="editor" type="text/plain" style="width:98%;height:600px;"></div>
                                </div>
                            </div>
                            <div class="form-control">
                                <label class="control-label col-lg-2">负责人<span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <section class="panel">
                                        <table class="table table-striped table-advance table-hover">
                                            <tbody>
                                            <tr>
                                                <th><i class="icon_profile"></i>姓名</th>
                                                <th><i class="icon_calendar"></i>职位</th>
                                            </tr>
                                            <tr class="manager">
                                                <td><input id="manager_name" class="form-control" name="manager_name" value="{{lab.manager_name}}" style="margin-bottom: 10px" type="text" required></td>
                                                <td><input id="manager_job" class="form-control" name="manager_job" value="{{lab.manager_job}}" style="margin-bottom: 10px" type="text" required></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </section>
                                </div>
                                <div class="col-lg-1">
                                    <button id="addManager" class="btn btn-primary" type="button">添加</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="button" class="btn btn-default" id="cancel">取消</button>
                                    <button type="submit" class="btn btn-primary" id="submit">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>


<script>
 $(function () {
     var ue = UE.getEditor('editor');
     var intros = $("#data-content").attr("data-content");
     ue.ready(function () {
         ue.setContent(intros);
     });
     window.ue = ue;
 });
    
 $(function () {

  var ue = UE.getEditor('editor');
  window.ue = ue;

  $("#submit").click(function () {
     var data = {};
     data['id'] = $("#lab_id").attr('lab_id');
     data['name'] = $("#name").val();
     data['intros'] = ue.getContent();

    $.ajax({
      url: '/back01/lab/update',
      type: 'post',
      data: JSON.stringify(data),
      dataType: 'json',
      success: function (data) {
        alert(data.info);
        window.location.href="/back01/lab"
      },
      error: function (data) {
          alert(data.info)

      }
    });
  });

 });

$("#cancel").click(function () {
    window.location.href="/back01/lab"
});
</script>

{%endblock%}