{% extends 'back01/base.html' %}

{% block body_part %}

     <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-10">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i> 添加人员</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
              <li><i class="icon_document_alt"></i>Forms</li>
              <li><i class="fa fa-file-text-o"></i>Form elements</li>
            </ol>
          </div>
        </div>

        <!-- Basic Forms & Horizontal Forms-->

        <div class="row">
          <div class="col-lg-10">
            <section class="panel">
              <header class="panel-heading">
                Basic Forms
              </header>
              <div class="panel-body">
                <form role="form" method="post" action="{{ url_for('back01.adduser') }}">
                        <div class="box-header with-border">
            {% include 'back01/message.html' %}
        </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">用户名</label>
                            <input type="text" class="form-control" id="inputUser" placeholder="请输入用户名" name="name">
{#                         <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
{#                    {{form.name(class="form-control",placeholder="请输入")}}#}
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">专业</label>
{#                      {{form.password(class="form-control",type="password",placeholder="请输入")}}#}
                           <input type="text" class="form-control" id="inputPassword" placeholder="请输入专业" name="faculty">
{#                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
                  </div>
                        <div class="form-group">
                    <label for="exampleInputPassword1">年级</label>
{#                        {{form.rep_password(class="form-control",type="password",placeholder="请输入")}}#}
                            <input type="text" class="form-control" id="inputPassword" placeholder="请输入年级" name="grade">
{#                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
                  </div>
{#                        {{form.submit(class="btn btn-primary btn-block btn-flat",type="submit")}}#}
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>

              </div>
            </section>
          </div>

        </div>


            </div>
          </div>
        </div>
        <!-- page end-->
      </section>
    </section>
{% endblock %}