body {
    position: relative;
}

header{
		margin-bottom: 40px;
		border-bottom: 1px solid #E8E8E8;
	}
.logo:after {
    content: '';
    display: block;
    background-image: url('../../images/line.png');
    width: 100%;
    height: 7px;
}
.navbar-top .navbar-nav> li > a {
    display: block;
    line-height: 22px;
    color: rgb(68, 68, 68);
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 40px;
    margin: 0 5px;
}

.navbar-top .navbar-nav > li > a:hover,
.navbar-top .navbar-nav > li > a:focus{
    color:#18bc9c;
}

.navbar-top .navbar-nav > li.active > a{
    color:#18bc9c;
}

.navbar-top .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}

.navbar-top .icon-bar{
	background-color: #333;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-top .icon-bar+.icon-bar {
    margin-top: 6px;
}

.flash-message{
    width: 350px;
    margin: 0 auto;
}
