.carousel-indicators .active {
    background-color: #18bc9c;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 25px;
    height: 25px;
    background-color: #18bc9c;
}

table a,
    th,
    td {
        color:#2c3e50;
    }
    table a {
        text-decoration: none;
    }

    .footer a {
        color:#ffffff;
    }

    table a:hover,
    table a:focus,
    .footer a:hover,
    .footer a:focus{
    color:#18bc9c;
    }

    .footer nav{
        background-color:#2c3e50;
    }