{% extends "admin/backbase.html" %}
{% block title %}添加实验室{% endblock %}
{% block navbar %}
<section class="content-header">
    <h1>添加实验室</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">实验室管理</li>
        <li class="active">添加项目</li>
    </ol>
</section>
{% endblock %}
{% block content %}
    <div  class="box box-primary" >
     <form   id = "test "action="{{ url_for('admin.addlab') }}" method="post"  enctype="multipart/form-data"  >
       <div class="box-header with-border">
            {% include 'admin/message.html' %}
        </div>
{#         {{form.hidden_tag()}}#}
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>实验室名称：</label>
            <div   class="formControls col-xs-8 col-sm-9">
                  {% if form.name.data != None and  form.name.data != ""%}
                      {{form.name(class_="form-control",id="demo" ,value=form.name.data, style="behavior:url(#default#userdata)")}}
                  {% else %}
                      {{form.name(class_="form-control",id="demo" ,placeholder="请填写实验室名称", style="behavior:url(#default#userdata)")}}
                  {% endif %}


{#                <input type="text"  class="input-text" value="" placeholder="" id="title" name="title"#}
{#                       >#}
            </div>
        </div>
        <div class="row cl" >

            <label class="form-label col-xs-3 col-sm-2">实验室成员：</label>&nbsp;&nbsp;&nbsp;

            <button type="button" onclick="window.location.href='{{ url_for("admin.addmember") }}'">添加</button>
{#            <button onclick="ajaxForm()">添加</button>#}
              <!--<div  class="btn"  class="form-control col-xs-8 col-sm-9" style="background-color: white">-->
                 <!--{{form.adduser(class_="btn" ,style= "background-color:whitesmoke;display: inline")}}-->

            {% if users != []%}
            {% for user in users %}
                <div  class="btn"  style="display: inline;background-color:whitesmoke">{{ user["name"] }}</div>&nbsp;
            {% endfor %}
             {% endif %}
              </div>


{#                <input  class="btn-color" style="color: black" type="submit" name="operate" value= "添加成员"></input>#}

{#                {{form.team_info(class_="form-control",placeholder="请输入实验室简介")}}#}
{#                  <input type="text"  class="input-text" value="" placeholder="" id="link" name="link"#}
{#                       >#}
{#                <div class="uploader-thum-container">#}
{#                    <input id="upfile" name="upfile" type="file" style="height: auto;"/>#}
{#                    <img id="front_cover_img" src="" height="25" width="100" hidden="hidden"/>#}
{#                </div>#}
        <!--</div>-->
           <div class="row cl" >

            <label class="form-label col-xs-3 col-sm-2">实验室活动：</label>&nbsp;&nbsp;&nbsp;
                <button  type="button" onclick="window.location.href='{{ url_for("admin.addactivity") }}'">添加</button>
               <ul >
{% for activity in activities %}
    <li>
       <div>&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp<a href="#">{{ activity.title }}</a></div>
    </li>

{% endfor %}
</ul>


              <!--<div  class="btn"  class="form-control col-xs-8 col-sm-9" style="background-color: white">-->
                 <!--{{form.addactivity(class_="btn" ,style= "background-color:whitesmoke;display: inline")}}-->

           <!--</div>-->
           </div>



        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">  实验室简介：</label>
            <div class="formControls col-xs-8 col-sm-9">
                 {{form.introduction(class_="form-control",placeholder="请输入实验室简介",rows="15",cols = "100")}}
            </div>
        </div>



{#             {% for message in get_flashed_messages() %}#}
{#            <div class="alert alert-warning" style=" margin:0 auto;width:200px; height:40px;text-align:center;" >#}
{#                <button type="button" class="close" data-dismiss="alert">&times;</button>#}
{#                {{ message }}#}
{#            </div>#}
{#            {% endfor %}#}

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                {{form.submit(class_="btn btn-primary btn-block btn-flat")}}
{#                <button onClick="save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">#}
{#                    &#xe632;</i> 保存#}
{#                </button>#}
            </div>
        </div>
     </form>
    </div>
<script src="{{ url_for('static', filename='admin/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/iCheck/icheck.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/pace/pace.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/js/global.js') }}"></script>
<script>

window.onunload = function(){

        demo.setAttribute("data",demo.value)
        //设置对象demo的自定义属性data的值为demo的当前值
        demo.save("cache")//保存数据
        alert("333")
};
window.onload = function(){
       demo.load("cache")       //加载数据
        if(demo.getAttribute("data"))//如果记录存在
        demo.value=demo.getAttribute("data")//设置对象demo的值
        alert("333")
}





    function initPage() {
        //初始化iCheck插件
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

    }
</script>
{% endblock %}