{% extends "admin/backbase.html" %}
{% block title %}添加项目{% endblock %}
{% block navbar %}
<section class="content-header">
    <h1>添加项目</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">项目管理</li>
        <li class="active">添加项目</li>
    </ol>
</section>
{% endblock %}
{% block content %}
    <div class="box box-primary">
     <form action="{{ url_for('admin.addproject') }}" method="post"  enctype="multipart/form-data"  >
       <div class="box-header with-border">
            {% include 'admin/message.html' %}
        </div>
{#         {{form.hidden_tag()}}#}
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>项目名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                  {% if form.name.data != None and  form.name.data != ""%}
                      {{form.name(class_="form-control",value=form.name.data)}}
                  {% else %}
                      {{form.name(class_="form-control",placeholder="请填写项目名称")}}
                  {% endif %}


{#                <input type="text"  class="input-text" value="" placeholder="" id="title" name="title"#}
{#                       >#}
            </div>
        </div>
        <div class="row cl" >

            <label class="form-label col-xs-3 col-sm-2">团队成员：</label>


              <div  class="btn"  class="form-control col-xs-8 col-sm-9" style="background-color: white">
                 <button type="button" onclick="window.location.href='{{ url_for("admin.adduser") }}'">添加</button>

            {% if users != []%}
            {% for user in users %}
                <div  class="btn"  style="display: inline;background-color:whitesmoke">{{ user["name"] }}</div>&nbsp;
            {% endfor %}
             {% endif %}
              </div>


{#                <input  class="btn-color" style="color: black" type="submit" name="operate" value= "添加成员"></input>#}

{#                {{form.team_info(class_="form-control",placeholder="请输入团队信息")}}#}
{#                  <input type="text"  class="input-text" value="" placeholder="" id="link" name="link"#}
{#                       >#}
{#                <div class="uploader-thum-container">#}
{#                    <input id="upfile" name="upfile" type="file" style="height: auto;"/>#}
{#                    <img id="front_cover_img" src="" height="25" width="100" hidden="hidden"/>#}
{#                </div>#}
        </div>
      <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">项目图片：</label>
            <div class="formControls col-xs-8 col-sm-9">
{#                <input type="file",name="photo",multiple>#}
                 {{form.photo(class_="form-control",placeholder="请输入项目简介",multiple="multiple" )}}
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">项目视频：</label>
            <div class="formControls col-xs-8 col-sm-9">
                 {{form.video(class_="form-control",placeholder="请输入项目简介",multiple="multiple")}}
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">项目简介：</label>
            <div class="formControls col-xs-8 col-sm-9">
                 {{form.introduction(class_="form-control",placeholder="请输入项目简介",rows="13",cols = "112")}}
            </div>
        </div>



{#             {% for message in get_flashed_messages() %}#}
{#            <div class="alert alert-warning" style=" margin:0 auto;width:200px; height:40px;text-align:center;" >#}
{#                <button type="button" class="close" data-dismiss="alert">&times;</button>#}
{#                {{ message }}#}
{#            </div>#}
{#            {% endfor %}#}

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                {{form.submit(class_="btn btn-primary btn-block btn-flat")}}
{#                <button onClick="save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">#}
{#                    &#xe632;</i> 保存#}
{#                </button>#}
            </div>
        </div>
     </form>
    </div>
<script src="{{ url_for('static', filename='admin/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/iCheck/icheck.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/pace/pace.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/js/global.js') }}"></script>
<script>
    function initPage() {
        //初始化iCheck插件
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

    }
</script>
{% endblock %}