{% extends 'tmp05/base.html' %}

{% block page_name %}首页{% endblock %}

{% block static_files %}
{% endblock %}


{% block body_part%}
<div class="blog">
    <div class="container">
        <div class="blog-main">
            <div class="col-md-10 blog-main-left">
                <h3>基地介绍</h3>
                <div class="blg">
                    <div class="col-md-4 blog-left">
                        <a href="{{url_for('tmp05.laboratoryIntroduction',lab_id=1)}}"><img src="/static/img/bupt/1390859861.jpg" alt=""></a>
                    </div>
                    <div class="col-md-8 blog-left">
                        <h5>北京邮电大学I3创新实践基地</h5>
                        <p>北邮教务处所属的I3创新实践基地，也被称为北京邮电大学“电路与电子技术创新实践基地（三）”，依托于北京邮电大学信息与通信工程学院展开基地建设。I3这个名字，取自以字母“I”为开头的英文单词，
                            即Innovation，Information，Intelligence，Inspiration, Insight, Impact， Interesting, International, Infinite。</p>
                        <div class="blog-btn">
                            <a href="{{url_for('tmp05.laboratoryIntroduction',lab_id=1)}}">了解更多</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock%}