{% extends 'tmp05/base.html' %}

{% block page_name %}新闻公告{% endblock %}

{% block static_files %}
{% endblock %}


{% block body_part%}

<style>
    .article h1 {
        font-size: 28px;
        color: #00a1f1;
        border-bottom: 1px solid #b6d9e8;
        line-height: 50px;
    }

    /*.article h1 {*/
    /*font-size: 20px;*/
    /*color: #00a1f1;*/
    /*border-bottom: 1px solid #b6d9e8;*/
    /*line-height: 50px;*/
    /*}*/

    #article_h1 {
        font-size: 18px;
        text-align: center;
        line-height: 30px;
        padding: 10px 0;
    }

    #article_h2 {
        font-size: 15px;
        text-align: center;
        line-height: 30px;
        padding: 10px 0;
    }

    .time {
        text-align: center;
        color: #666;
        padding: 10px 0;
    }
</style>
<div class="container">
    <div class="container article">
        <h1 id="article_h1">{{article.title}}</h1>
        <!--<h1 id="article_h2">{{article.title}}</h1>-->
        <!--&lt;!&ndash;<div class="brief">&ndash;&gt;-->
        <!--&lt;!&ndash;<label>关键字</label>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="keyword">&ndash;&gt;-->
        <!--&lt;!&ndash;<label>摘要</label>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <div class="time" style="text-align: left">
            关键字：{{article.publish_time}}
        </div>
        <div class="time" style="text-align: right">
            发布时间：{{article.publish_time}}
        </div>
    </div>

    <div class="document-content" style="width: 80%;margin: auto">
        {{ article.content | safe}}
    </div>

    <div class="attachment">
        <ul>
            {% for file in article.files%}
            <li>
                <a href="{{ url_for('tmp05.download_attachment',file_id=file.file_id) }}">{{ file.local_name}}</a>
            </li>
            {% endfor %}

        </ul>
    </div>

</div>

{% endblock%}