<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block page_name %}{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">
  <link href="../../static/assets/css/bootstrap.css" rel="stylesheet">
  <link href="../../static/assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="../../static/assets/css/docs.css" rel="stylesheet">
  <link href="../../static/assets/css/prettyPhoto.css" rel="stylesheet">
  <link href="../../static/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="../../static/assets/css/flexslider.css" rel="stylesheet">
  <link href="../../static/assets/css/sequence.css" rel="stylesheet">
  <link href="../../static/assets/css/style.css" rel="stylesheet">
  <link href="../../static/assets/color/default.css" rel="stylesheet">

  <!--自定义的css文件-->
  <link href="../../static/assets/css/base.css" rel="stylesheet">

  {% block static_files %}{% endblock %}

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="../../static/assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../static/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../static/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../static/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../../static/assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <header>
    <!-- 顶部导航条
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- logo -->
          <a class="brand logo" href="base.html"><img src="../../static/assets/img/logo.png" alt=""></a>
          <!-- end logo -->
          <!-- top menu -->
          <div class="navigation">
            <nav>
              <ul class="nav">
                <li class="dropdown active">
                  <a href="{{ url_for('tmp01.home') }}">主页</a>
                </li>
                <li class="dropdown">
                  <a href="{{ url_for('tmp01.news') }}">新闻公告</a>
                </li>
                <li class="dropdown">
                  <a href="{{ url_for('tmp01.downlink') }}">资料下载</a>
                </li>
                <li class="dropdown">
                  <a href="{{ url_for('tmp01.projects') }}">项目展示</a>
                </li>
                <li class="dropdown">
                  <a href="{{ url_for('tmp01.contact') }}">联系我们</a>
                </li>
              </ul>
              <ul class="nav topnav">
                {% if login_user %}
                  <li class="dropdown disabled">
                    <a href="{{ url_for('tmp01.user_center') }}">{{ login_user.username }}</a>
                  </li>
                  <li class="dropdown disabled">
                    <a href="{{ url_for('tmp01.logout') }}">注销</a>
                  </li>
                {% else %}
                  <li class="dropdown">
                    <a href="#">登陆</a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ url_for('tmp01.login') }}">学生</a></li>
                        <li><a href="#">管理员</a></li>
                      </ul>
                  </li>
                  <li class="dropdown disabled">
                    <a href="{{ url_for('tmp01.register') }}">注册</a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          </div>
          <!-- end menu -->
        </div>
      </div>
    </div>
  </header>

  <!--页面主体部分
  ================================================= -->
  <main style="height: 900px;">
    {% block body_part %}
    {% endblock %}
  </main>


  <!-- Footer
 ================================================== -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="widget">
            <h5>Browse pages</h5>
            <ul class="regular">
              <li><a href="#">Work for us</a></li>
              <li><a href="#">Creative process</a></li>
              <li><a href="#">Case study</a></li>
              <li><a href="#">Scaffold awwards</a></li>
              <li><a href="#">Meet the team</a></li>
            </ul>
          </div>
        </div>
        <div class="span4">
          <div class="widget">
            <h5>Recent blog posts</h5>
            <ul class="regular">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Mea malis nominavi insolens ut</a></li>
              <li><a href="#">Minim timeam has no aperiri sanctus ei mea per pertinax</a></li>
              <li><a href="#">Te malorum dignissim eos quod sensibus</a></li>
            </ul>
          </div>
        </div>
        <div class="span4">
          <div class="widget">
            <!-- logo -->
            <a class="brand logo" href="base.html">
							<img src="../../static/assets/img/logo-dark.png" alt="">
						</a>
            <!-- end logo -->
            <address>
							<strong>Registered Companyname, Inc.</strong><br>
							 8895 Somename Ave, Suite 600<br>
							 San Francisco, CA 94107<br>
							<abbr title="Phone">P:</abbr> (123) 456-7890
						</address>
          </div>
        </div>
      </div>
    </div>
    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>
              &copy; Serenity - All right reserved
            </p>
          </div>
          <div class="span6">
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Serenity
              -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript Library Files -->
  <script src="../../static/assets/js/jquery.min.js"></script>
  <script src="../../static/assets/js/jquery.easing.js"></script>
  <script src="../../static/assets/js/google-code-prettify/prettify.js"></script>
  <script src="../../static/assets/js/modernizr.js"></script>
  <script src="../../static/assets/js/bootstrap.js"></script>
  <script src="../../static/assets/js/jquery.elastislide.js"></script>
  <script src="../../static/assets/js/sequence/sequence.jquery-min.js"></script>
  <script src="../../static/assets/js/sequence/setting.js"></script>
  <script src="../../static/assets/js/jquery.prettyPhoto.js"></script>
  <script src="../../static/assets/js/application.js"></script>
  <script src="../../static/assets/js/jquery.flexslider.js"></script>
  <script src="../../static/assets/js/hover/jquery-hover-effect.js"></script>
  <script src="../../static/assets/js/hover/setting.js"></script>
  <script src="../../static/assets/js/base.js"></script>

  <!-- Template Custom JavaScript File -->
  <script src="../../static/assets/js/custom.js"></script>

</body>
</html>
