{% extends 'main/base.html' %}

{% block page_name %}用户中心{% endblock %}

{% block body_part %}
<section id="subintro">
  <div class="container">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3">
        <ul class="nav nav-tabs nav-stacked">
              <li class="active"><a href="#">我的项目</a></li>
              <li><a href="#">我的消息</a></li>
              <li><a href="#">修改密码</a></li>
            </ul>
      </div>
      <div class="span9">

      </div>
    </div>
  </div>
</section>
{% endblock %}
