{% extends 'tmp03/base.html' %}

{% block page_name %}主页{% endblock %}

{% block static_files %}
{% endblock %}

{% block body_part %}
  <section id="maincontent" style="margin-top: 80px;">
    <div class="container">
      <div class="row">
        <div class="span3">
          <h3 class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapright m-icon-white"></i></span>&nbsp;&nbsp;最新动态</h3>
        </div>
        <div class="span9">
             <table class="table table-hover top">
                <thead>
                  <tr>
                    <th>标题</th>
                    <th style="text-align: center">发布时间</th>
                  </tr>
                </thead>
                <tbody>
                {% for document in documents %}
                   <tr>
                    <td width="82%"><a href="{{url_for('tmp03.news_detail',news_id=document.id)}}" style="color: #333">{{ document.title }}</a></td>
                    <td width="18%" style="text-align: center;">2018/09/18</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </section>

  <!-- end tagline -->

  <section id="bottom">
    <div class="container">

        <div class="row">
        <div class="span12">
            <div class="divider" style="margin: -20px 0px 0px 0px"></div>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <h3 class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapdown m-icon-white"></i></span>&nbsp;&nbsp;项目展示</h3>
        </div>

          {% for project in projects %}
        <div class="span4">
          <div class="well well-primary box">
            <img src="../../static/tmp03/img/projects/2017_second.jpg" alt="" />
            <h3>{{ project.pname }}</h3>
            <p>
              {{project.introduction}}
            </p>
            <a href="{{url_for('tmp03.projects_detail',project_id = project.id)}}">获取更多</a>
          </div>
        </div>
          {% endfor %}

      </div>

    </div>
  </section>


{% endblock %}