{% extends 'tmp03/base.html' %}

{% block page_name %}主页{% endblock %}

{% block static_files %}
{% endblock %}

{% block body_part %}
  <section id="maincontent" style="margin-top: 80px;">
    <div class="container">
        <div class="row">
        <div class="span12">
          <aside style="height: 600px;">
            <h3 style="color:#ec4f13;text-align: center">大学生创新创业开始啦！！快来报名！！</h3>
            <p>大学生创新创业开始了！！赛事流程如下：
                <br>
                登陆学院大创官网，通过校园账户进行注册登陆，请留下相关联系方式。
                <br>
                下载报名表，填写个人信息，于报名截止日期前提交到相关部门。
            </p>
          </aside>
        </div>

        </div>
    </div>
  </section>

{% endblock %}
