{% extends 'tmp03/base.html' %}

{% block page_name %}主页{% endblock %}

{% block static_files %}
{% endblock %}

{% block body_part %}
  <section id="maincontent" style="margin-top: 80px;">
    <div class="container">
        <div class="row">
        <div class="span3">
          <aside>
            <form class="form-search">
              <input placeholder="输入关键字" type="text" class="input-medium search-query">
              <button type="submit" class="btn btn-flat btn-color">搜索</button>
            </form>
          </aside>
        </div>

        <div class="span9">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>标题</th>
                    <th style="text-align: center">发布时间</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="82%"><a href="news_detail.html">大学生创新创业开始啦！！快来报名！！</a></td>
                    <td width="18%" style="text-align: center;">2018/09/18</td>
                  </tr>
                  <tr>
                    <td width="82%"><a href="news_detail.html">大学生创新创业开始啦！！快来报名！！</a></td>
                    <td width="18%" style="text-align: center;">2018/09/18</td>
                  </tr>
                  <tr>
                    <td width="82%"><a href="news_detail.html">大学生创新创业开始啦！！快来报名！！</a></td>
                    <td width="18%" style="text-align: center;">2018/09/18</td>
                  </tr>
                  <tr>
                    <td width="82%"><a href="news_detail.html">大学生创新创业开始啦！！快来报名！！</a></td>
                    <td width="18%" style="text-align: center;">2018/09/18</td>
                  </tr>
                  <tr>
                    <td width="82%"><a href="news_detail.html">大学生创新创业开始啦！！快来报名！！</a></td>
                    <td width="18%" style="text-align: center;">2018/09/18</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>

        <div class="row">
        <div class="span12">
          <div class="pagination" style="float: right">
            <ul>
              <li><a href="#">Prev</a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

