{% extends 'tmp03/base.html' %}

{% block page_name %}主页{% endblock %}

{% block static_files %}
{% endblock %}

{% block body_part %}

  <section id="maincontent" style="margin-top: 80px;">
    <div class="container">
      <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#general-template"><i class="icon-chevron-right"></i> 项目简介</a></li>
          <li><a href="#file-structure"><i class="icon-chevron-right"></i> 项目成员</a></li>
          <li><a href="#contents"><i class="icon-chevron-right"></i> 获奖荣誉</a></li>
        </ul>
      </div>

       <div class="span9">

        <!-- Download
        ================================================== -->
        <section id="general-template" class="doc">
          <div class="page-header first">
            <h3>项目简介</h3>
          </div>
            <article>
               <h4>北京邮电大学I3创新实践基地简介</h4>
               <br>
               <p>
                   北邮教务处所属的I3创新实践基地，也被称为北京邮电大学“电路与电子技术创新实践基地（三）”，依托于北京邮电大学信息与通信工程学院展开基地建设。I3这个名字，取自以字母“I”为开头的英文单词，即Innovation，Information，Intelligence，Inspiration, Insight, Impact， Interesting, International, Infinite。该基地名字表明了基地的基本特质，即：
                   <ul>
                    <li>关注技术领域：信息、智能、创新；</li>
                    <li>精神特质：灵感/鼓舞、洞察力/见地、影响力；</li>
                    <li>愿景：有趣、国际、无限。</li>
                   </ul>
               </p>
               <p>
                   本创新实践基地始建于2002年，位于北邮教二楼3层西北角（图1），主要分为门厅展示区、学生实践场地、公共讨论区、实验物料存放区、教师工作区（图2~图6）等几个相对相对独立的区域。基地以培养电子信息类专业学生的实践水平、创新能力和团队协作能力为根本目标，在多年的基地建设中，摸索出了一整套完备的基地管理规范和运作机制，凝聚和建设了一个有志于学生创新能力培养的核心导师团队，吸引了一批又一批对创新创业实践有浓厚兴趣、强烈要求自我能力提升的优秀本科学生。
                   <br>
                   基地主要服务于信通院的三个本科专业学生，即通信工程、信息工程、电子信息工程。此外也热心支持和服务来自国际学院、自动化学院、数媒学院、理学院等跨学科领域的学生，搭建了一个扶持学生们在交叉学科竞赛和创新创业项目自由探索的服务平台。在“互联网+”的大时代背景下，制订了专业实验教学、创新基地建设、竞赛培训统一协调的管理办法，协同开展专业实验教学、创新创业教育、竞赛培训，摸索拔尖创优电子信息类人才培养的新模式。具体来说，基地主要围绕以下八个方面来展开了相关工作。
               </p>
            </article>

        </section>
        <section id="file-structure" class="doc">
          <div class="page-header first">
            <h3>项目成员</h3>
          </div>
          <p style="text-align: center">
              <img src="assets/img/lib/logo.jpg" style="margin-bottom: 10px;">
              <img src="assets/img/lib/room.jpg" style="margin-bottom: 10px;">
              <img src="assets/img/lib/in.jpg">
          </p>
        </section>
        <section id="contents" class="doc">
          <div class="page-header first">
            <h3>获奖荣誉</h3>
          </div>
          <p>
              基地招募新成员啦！！有想法有创意的你看过来！！！
          </p>
        </section>
      </div>
      </div>
    </div>
  </section>


{% endblock %}


