{% extends 'tmp00/base.html' %}

{% block static_files %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/register.css') }}"/>
{% endblock %}
{% block page_name %}登录{% endblock %}

{% block body_part %}
<h3>登录</h3>
<form class="form" action="" method="POST">
  <div class="form-group row">
    <label for="inputUser" class="col-sm-2 col-form-label">用户</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputUser" placeholder="请输入用户名" name="username">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">密码</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="请输入密码" name="password">
    </div>
  </div>
    <div class="login-button">
        <button type="submit" class="btn btn-lg btn-block btn-default">登录</button>
    </div>
</form>

{% endblock %}