h3{
    text-align: center;
    padding-top: 20px;
    color:#2c3e50;
}

.form{
    width: 400px;
    margin: 0 auto;
}

form.form > div{
    padding: 8px;
}

.form label{
    color:#2c3e50;
}

.btn-default {
    color:#fff;
    background:#2c3e50;
}