{% extends "backbase.html" %}
{% block title %}添加政策{% endblock %}
{% block navbar %}
<section class="content-header">
    <h1>添加新政策</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">政策管理</li>
        <li class="active">添加新政策</li>
    </ol>
</section>
{% endblock %}



{% block content %}
    <div class="box box-primary">
     <form  action="{{ url_for('main.addpolicy') }}" method="post"  enctype="multipart/form-data" >
         <div class="box-header with-border">
            {% include 'message.html' %}
        </div>

{#         {{form.hidden_tag()}}#}
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>政策标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {{form.title(class_="form-control",placeholder="请填写政策标题")}}
{#                <input type="text"  class="input-text" value="" placeholder="" id="title" name="title"#}
{#                       >#}
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">政策文件：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {{form.attachment(class_="form-control",placeholder="请输入政策链接")}}
{#                  <input type="text"  class="input-text" value="" placeholder="" id="link" name="link"#}
{#                       >#}
{#                <div class="uploader-thum-container">#}
{#                    <input id="upfile" name="upfile" type="file" style="height: auto;"/>#}
{#                    <img id="front_cover_img" src="" height="25" width="100" hidden="hidden"/>#}
                </div>
            </div>
        </div>
{#        <div class="row cl">#}
{#            <label class="form-label col-xs-4 col-sm-2">文章内容：</label>#}
{#            <div   style="height: 500px;" class="formControls col-xs-8 col-sm-9">#}
{#                 {{form.content(placeholder="请输入文章内容")}}#}
{#                <textarea class="textarea" cols="16" rows="10"></textarea>#}
{#                <input type="text" class="input-text" value="" placeholder="" id="content" name="content"#}
{#                       >#}
{##}
{#{% block content %}#}
{#                <script id="editor" type="text/plain" style="width:100%;height:400px;"></script>#}
{#{% endblock %}#}
{#            </div>#}
{#        </div>#}
{#             {% for message in get_flashed_messages() %}#}
{#            <div class="alert alert-warning" style=" margin:0 auto;width:200px; height:40px;text-align:center;" >#}
{#                <button type="button" class="close" data-dismiss="alert">&times;</button>#}
{#                {{ message }}#}
{#            </div>#}
{#            {% endfor %}#}

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                {{form.submit(class_="btn btn-primary btn-block btn-flat")}}
{#                <button onClick="save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">#}
{#                    &#xe632;</i> 保存#}
{#                </button>#}
            </div>
        </div>
     </form>
    </div>
<script src="{{ url_for('static', filename='plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/iCheck/icheck.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pace/pace.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/global.js') }}"></script>
<script>
    function initPage() {
        //初始化iCheck插件
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

    }
</script>
{% endblock %}