{% extends 'admin/backbase.html' %}

{% block title %}添加项目人员{% endblock %}
{% block navbar %}
<section class="content-header">
    <h1>添加项目</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">项目管理</li>
        <li class="active">添加项目</li>
        <li class="active">添加项目人员</li>
    </ol>
</section>

{% endblock %}
{% block content %}
       <div class="box-header with-border">
            {% include 'admin/message.html' %}
        </div>
<form class="form"  name = "users" action="{{ url_for('admin.adduser') }}" method="POST">
  <div class="form-group row">
    <label for="inputUser" class="col-sm-2 col-form-label">用户</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputUser" placeholder="请输入用户名" name="name">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">专业</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPassword" placeholder="请输入学院" name="faculty">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">年级</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPassword" placeholder="请输入年级" name="grade">
    </div>
  </div>
    <div class="register-button">
        <button type="submit" name="submit" value="adduser"  class="btn btn-default btn-lg btn-block">保存</button>
    </div>
</form>
{% endblock %}