{% extends 'front/base.html' %}
{% block page_name %}常用下载{% endblock %}
{% block static_files %}
<style>
.box-white:first-child {
  min-height: 428px;
}
</style>
{% endblock %}
{% block body_part %}
<div class="box-white">
  {% import 'front/components/macro.html' as macro %}
  {{ macro.download(files) }}
</div>
<div class="box-white">
  <div class="row">
    <div class="col-md-12 center">
      {% import 'front/components/macro.html' as macro %}
      {{ macro.pagination(pagination, 'front.downloadFile') }}
    </div>
  </div>
</div>
{% endblock %}