{% extends 'front/base.html' %}
{% block page_name %}编辑项目{% endblock %}
{% block static_files %}
<link rel="stylesheet" href="/static/vendor/mdeditor/editormd.min.css">
<style>
  .item-header{
        height:60px;
        line-height: 60px;
        font-size:20px;
        border-bottom: 1px dotted #eee;
        align-items: center;
        font-weight: bold;
    }

    .content {
        padding: 30px 50px 20px 30px;
        border:1px solid #eee;
        margin-bottom:5px
    }

    .tableRow{
        display: flex;
        width: 100%;
        margin: 5px
    }

    .tableRow label{
        display: inline-block;
        width: 10%;
        flex-shrink: 0;
        padding-right: 5px;
        font-size: 14px;
        font-weight: bold;
    }

    .lists {
        display: flex;
         margin-bottom: 5px
    }
    .lists .item {
        flex:1
    }
    .lists label{
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        padding-right: 15px;
    }

    .operate {
        text-align: center;
    }
    .operate .cancel {
        background-color: #eee;
        color:#333;
    }

    .operate button {
        margin-left: 5px;
        padding: 5px 10px;
        border: 0px;
        border-radius: 4px;
        background-color: #eee;
        color:#337e0a;
        font-size:14px
    }
    .certPreview {
        display: flex;
    }
    .certPreview .imgWrap{
        position: relative;
    }
    .certPreview img{
        width: 300px;
        height: 200px;
    }

    .imgWrap .overlay{
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
        background-color: rgba(0,0,0,0.5);
      width: 300px;
      height: 200px;

    }

    .imgWrap .glyphicon-trash {
      position: absolute;
      left: 150px;
      top: 100px;
      color:#fff;
    }
    .glyphicon-trash:hover{
      font-size: 20px;
    }
    .imgWrap:hover> .overlay{
        z-index: 10;
    }
</style>
{% endblock%}
{% block body_part%}
<div class="row">
  <div class="box-white">
    <div style="display: flex;justify-content: space-between">
      <p><a href="{{url_for('front.user')}}">个人中心</a></p>
      {% if project.status.msg %}
      <p><button type="button" data-toggle="modal" data-target="#checkInfo">查看审核意见</button></p>
      {% endif %}
    </div>
    <!-- 模态框 -->
    <div id="checkInfo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modal header</h3>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
      </div>
    </div>
    <div id="panel" data-pid="{{project.pid}}">
      <section>
        <div class="item-header">
          <div class="left">项目信息</div>
        </div>
        <form id="info-form" class="info-form" onsubmit="return false">
          <!--项目信息-->
          <div class="content">
            <div class="tableRow">
              <label>项目名称*</label>
              <input type="text" placeholder="请输入项目名称" name="pname" value="{{project.pname}}" required>
            </div>
            <div class="tableRow">
              <label>项目介绍*</label>
              <div id="markdown">
                <textarea style="display: none;" name="src_content">{{ project.src_content | safe }}</textarea>
              </div>
            </div>
            <div class="tableRow">
              <label>封面图片</label>
              <input type="file" id="mainPic">
            </div>
            <div class="tableRow">
              <label></label>
              <div>
                <img style="width:300px;height:200px" class="mainPicPreview" id="{{project.pic.fid}}" src="{{ url_for('common.image',name=project.pic.path) }}">
              </div>
            </div>
            <div class="tableRow">
              <label>立项时间*</label>
              <input type="date" name="startTime" value="{{project.status.pro_startTime}}" required>
            </div>
            <div class="tableRow">
              <label>项目专业*</label>
              <select name="major">
                <option value="1" {% if project.status.major==1 %}selected{% endif %}>通信工程</option>
                <option value="2" {% if project.status.major==2 %}selected{% endif %}>信息工程</option>
                <option value="3" {% if project.status.major==3 %}selected{% endif %}>电子信息工程</option>
              </select>
            </div>
            <div class="tableRow">
              <label>项目类别*</label>
              <select name="type">
                <option value="1" {% if project.type=="1" %}selected{% endif %}>App开发/微信小程序开发</option>
                <option value="2" {% if project.type=="2" %}selected{% endif %}>通信/网络</option>
                <option value="3" {% if project.type=="3" %}selected{% endif %}>软件系统</option>
                <option value="4" {% if project.type=="4" %}selected{% endif %}>硬件系统</option>
                <option value="5" {% if project.type=="5" %}selected{% endif %}>视频/图像</option>
                <option value="6" {% if project.type=="6" %}selected{% endif %}>大数据/机器学习</option>
              </select>
            </div>
            <div class="operate">
              <button class="save-info">保存</button>
            </div>
          </div>
        </form>
      </section>
      <section>
        <div class="item-header flex-row">
          <div class="left">成员信息</div>
          <span class="glyphicon glyphicon-plus add member-add" aria-hidden="true" data-form="member-form"></span>
        </div>
        <div class="result">
          <table class="table table-striped text-center">
            <thead>
              <tr>
                <td>姓名</td>
                <td>学号</td>
                <td>班级</td>
                <td>年级</td>
                <td>专业</td>
                <td>学院</td>
                <td>操作</td>
              </tr>
            </thead>
            <tbody>
              {% for member in project.members %}
              {% if member.type==1 %}
              <tr class="edit-area">
                <td>
                  <div class="area1">{{member.name}}</div>
                  <input class="area2 hide" type="text" name="name" value="{{member.name}}">
                </td>
                <td>
                  <div class="area1">{{member.number}}</div>
                  <input class="area2 hide" type="text" name="number" value="{{member.number}}">
                </td>
                <td>
                  <div class="area1">{{member.classId}}</div>
                  <input class="area2 hide" type="text" name="classId" value="{{member.classId}}">
                </td>
                <td>
                  <div class="area1">{{member.grade}}</div>
                  <input class="area2 hide" type="text" name="grade" value="{{member.grade}}">
                </td>
                <td>
                  <div class="area1">{{member.major}}</div>
                  <input class="area2 hide" type="text" name="major" value="{{member.major}}">
                </td>
                <td>
                  <div class="area1">{{member.academy}}</div>
                  <input class="area2 hide" type="text" name="academy" value="{{member.academy}}">
                </td>
                <td>
                  <button class="btn btn-success btn-xs edit" data-type="member" data-id="{{member.id}}">修改</button>
                  <button class="btn btn-danger btn-xs delete" data-id="{{member.id}}">删除</button>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
          <form class="content member-form hide" onsubmit="return false">
            <div class="lists">
              <div class="item">
                <label>姓名</label>
                <input type="text" name="name">
              </div>
              <div class="item">
                <label>学号</label>
                <input type="text" name="number">
              </div>
              <div class="item">
                <label>班级</label>
                <input type="text" name="classId">
              </div>
            </div>
            <div class="lists">
              <div class="item">
                <label>年级</label>
                <input type="text" name="grade">
              </div>
              <div class="item">
                <label>专业</label>
                <input type="text" name="major">
              </div>
              <div class="item">
                <label>学院</label>
                <input type="text" name="academy">
              </div>
            </div>
            <div class="operate">
              <button class="save-member">保存</button>
              <button class="cancel" data-trigger="member-add">取消</button>
            </div>
          </form>
        </div>
      </section>
      <section>
        <div class="item-header flex-row">
          <div class="left">老师信息</div>
          <span class="glyphicon glyphicon-plus add teacher-add" aria-hidden="true" data-form="teacher-form"></span>
        </div>
        <div class="result">
          {% for member in project.members %}
          {% if member.type==0 %}
          <form class="form content teacher" onsubmit="return false">
            <div class="lists">
              <div class="item">
                <label>姓名</label>
                <input type="text" name="name" value="{{member.name}}">
              </div>
              <div class="item">
                <label>专业</label>
                <input type="text" name="major" value="{{member.major}}">
              </div>
              <div class="item">
                <label>学院</label>
                <input type="text" name="academy" value="{{member.academy}}">
              </div>
            </div>
            <div class="operate">
              <button class="save-teacher" id="{{member.id}}">修改</button>
              <button class="cancel">取消</button>
            </div>
          </form>
          {% endif %}
          {% endfor %}
          <form class="content hide teacher-form" onsubmit="return false">
            <div class="lists">
              <div class="item">
                <label>姓名</label>
                <input type="text" name="name">
              </div>
              <div class="item">
                <label>专业</label>
                <input type="text" name="major">
              </div>
              <div class="item">
                <label>学院</label>
                <input type="text" name="academy">
              </div>
            </div>
            <div class="operate">
              <button class="save-teacher">保存</button>
              <button class="cancel" data-trigger="teacher-add">取消</button>
            </div>
          </form>
        </div>
      </section>
      <section>
        <div class="item-header flex-row">
          <div class="left">获奖信息</div>
          <span class="glyphicon glyphicon-plus add award-add" aria-hidden="true" data-form="award-form"></span>
        </div>
        <div class="result">
          {% for award in project.awards %}
          <form class="form content" onsubmit="return false">
            <div class="lists">
              <label>奖项名称</label>
              <input type="text" name="awardName" value="{{award.awardName}}">
            </div>
            <div class="lists">
              <div class="item">
                <label>获奖时间</label>
                <input type="date" name="awardTime" value="{{award.awardTime}}">
              </div>
              <div class="item">
                <label>奖项级别</label>
                <select name="rank" value="{{award.rank}}">
                  <option value="1">国际型比赛</option>
                  <option value="2">国家型比赛</option>
                  <option value="3">省部型比赛</option>
                  <option value="4">校内比赛</option>
                </select>
              </div>
            </div>
            <div class="lists">
              <label>奖项证书</label>
              <input name="certfile" type="file" multiple class="certfile">
            </div>
            <div class="lists">
              <label></label>
              <div class="certPreview">
                {% for i in award.pics %}
                <div class="imgWrap">
                  <img src="{{ i.url }}">
                  <div class="overlay">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="operate">
              <button class="save-award" id="{{award.id}}">修改</button>
              <button class="cancel">取消</button>
            </div>
          </form>
          {% endfor %}
          <form class="content hide award-form" onsubmit="return false">
            <div class="lists">
              <label>奖项名称</label>
              <input type="text" name="awardName">
            </div>
            <div class="lists">
              <div class="item">
                <label>获奖时间</label>
                <input type="date" name="awardTime">
              </div>
              <div class="item">
                <label>奖项级别</label>
                <select name="rank">
                  <option value="1">国际型比赛</option>
                  <option value="2">国家型比赛</option>
                  <option value="3">省部型比赛</option>
                  <option value="4">校内比赛</option>
                </select>
              </div>
            </div>
            <div class="items">
              <label>奖项证书</label>
              <input name="certfile" type="file" multiple class="certfile">
            </div>
            <div class="items">
              <label></label>
              <div class="certPreview"></div>
            </div>
            <div class="operate">
              <button class="save-award">保存</button>
              <button class="cancel" data-trigger="award-add">取消</button>
            </div>
          </form>
        </div>
      </section>
    </div>
    <div class="center">
      <button id="submit" class="btn btn-success">提交审核</button>
    </div>
  </div>
</div>
{% endblock%}
{% block js_files%}
<script src="/static/vendor/mdeditor/editormd.min.js"></script>
<script type="text/javascript">
$(function() {
  function Project() {
    this.initDom()
    this.initConfig()
    this.bindEvents()
  }

  // 初始化dom
  Project.prototype.initDom = function() {
    // root
    this.$panel = $('#panel')
    this.$mainPicPreview = $('.mainPicPreview')
    this.$infoForm = $('.info-form')
    this.$memberForm = $('.member-form')
    this.$teacherForm = $('.teacher-form')
    this.$awardForm = $('.award-form')
  }

  // 初始化项目信息
  Project.prototype.initConfig = function() {
    // init markdown editor
    this.mdEditor = setMarkdown('markdown')
    this.pid = this.$panel.data('pid')
    // 提交后返回的封面图片的id
    this.mainPicId = this.$mainPicPreview.attr('id')
  }

  // 绑定事件
  Project.prototype.bindEvents = function() {
    const that = this
    this.bindChangeMainPic()
    this.$panel.on('click', '.save-info, .save-member, .save-teacher, .save-award, .add, .cancel, .edit, .delete', function() {
      const $this = $(this)
      $this.hasClass('save-info') && that.saveInfo($this)
      $this.hasClass('save-member') && that.saveMember($this)
      $this.hasClass('save-teacher') && that.saveTeacher($this)
      $this.hasClass('save-award') && that.saveAward($this)
      $this.hasClass('add') && that.add($this)
      $this.hasClass('cancel') && that.cancel($this)
      $this.hasClass('edit') && that.edit($this)
      $this.hasClass('delete') && that.delete($this)
    })
  }

  // 修改封面图片
  Project.prototype.bindChangeMainPic = function() {
    const that = this
    $("#mainPic").on("change", function() {
      let file = this.files[0];
      let form = new FormData();
      form.append("pics", file);
      form.append("source", 1); // 封面图片的source为1
      form.append("source_id", that.mainPicId);
      $.ajax({
        url: '/api/modifyMainPic/' + that.mainPicId,
        data: form,
        type: 'POST',
        contentType: false,
        processData: false,
        dataType: 'json',
        success(res) {
          console.log(res);
          if (res.errorno === 0) {
            that.$mainPicPreview.attr('src', res.data.url);
            alert(res.msg)
          } else {
            alert(res.msg)
          }
        },
        error(xhr, status, error) {
          alert(error);
        }
      });
    });
  }

  // 添加按钮，可以多个添加的类别为项目成员/老师/奖项，项目信息默认只有一个
  Project.prototype.add = function($this) {
    const className = $this.data('form')
    if (!className) {
      return
    }
    const $form = $('.' + className)
    $form.toggleClass('hide')

    // icon style
    if ($this.hasClass('glyphicon-plus')) {
      $this.removeClass('glyphicon-plus')
      $this.addClass('glyphicon-minus')
    } else {
      $this.removeClass('glyphicon-minus')
      $this.addClass('glyphicon-plus')
    }
  }

  // 添加后取消按钮
  Project.prototype.cancel = function($this) {
    const trigger = $this.data('trigger')
    if (!trigger) {
      return
    }
    $('.' + trigger).click()
  }

  // 编辑
  Project.prototype.edit = function($this) {
    const area = $this.parent().parent()
    if ($this.text() === '修改') {
      $this.text('保存')
      area.find('.area1').addClass('hide')
      area.find('.area2').removeClass('hide')
    } else {
      $this.text('修改')
      area.find('.area1').removeClass('hide')
      area.find('.area2').addClass('hide')
      // 提交保存
      let data = {}
      area.find('.area2').each(function(idx, input) {
        data[input.name] = input.value
      })
      let type = $this.data('type')
      let id = $this.data('id')
      let urlMap = {
        'member': '/api/modifyProMember/' + id
      }
      $.ajax({
        url: urlMap[type],
        data: JSON.stringify(data),
        type: 'POST',
        dataType: 'json',
        success: function(res) {
          if (res.errorno === 0) {
            alert("保存成功")
            location.reload()
          } else {
            alert(res.msg)
          }
        },
        error: function(xhr, status, error) {
          alert(error)
        }
      })
    }
  }

  // 删除
  Project.prototype.delete = function($this) {
    console.log($this)
    $.ajax({
      url: '/api/deleteProMember/' + $this.data('id'),
      type: 'GET',
      dataType: 'json',
      success: function(res) {
        if (+res.errorno === 0) {
          $this.parent().parent().remove()
          alert('删除成功')
        } else {
          alert(res.msg)
        }
      },
      error: function(xhr, status, error) {
        alert(error)
      }
    })
  }

  // 保存基本信息
  Project.prototype.saveInfo = function(dom) {
    let data = this.$infoForm.serializeJson();
    data.mainPicId = this.mainPicId;
    data.content = this.mdEditor.getHTML();
    $.ajax({
      url: '/api/modifyPro/' + this.pid,
      data: JSON.stringify(data),
      type: 'POST',
      dataType: 'json',
      success: function(res) {
        if (res.errorno === 0) {
          alert("修改成功")
        } else {
          alert(res.msg)
        }
      },
      error: function(xhr, status, error) {
        alert(error)
      }
    })
  }

  // 保存成员信息
  Project.prototype.saveMember = function(dom) {
    // let url
    // if (dom.text() === "保存") {
    //   url = '/api/addProMember/1/' + this.pid // 学生是1
    // } else {
    //   url = '/api/modifyProMember/' + dom.attr("id")
    // }
    let member = this.$memberForm.serializeJson()

    $.ajax({
      url: '/api/addProMember/1/' + this.pid, // 学生是1
      data: JSON.stringify(member),
      dataType: 'json',
      type: 'POST',
      success: function(res) {
        if (res.errorno === 0) {
          alert("保存成功")
          location.reload()
        } else {
          alert(res.msg)
        }
      },
      error: function(xhr, status, error) {
        alert(error)
      }
    })
  }

  // 保存老师信息
  Project.prototype.saveTeacher = function() {
    // 提交/修改指导老师信息
    $("#panel").on("click", ".save-teacher", function() {
      let item = $(this).parent().parent();
      let teacher = item.serializeJson();
      let _this = $(this);
      let tid;

      if ($(this).text() == "保存") {
        $.ajax({
          url: '/api/addProMember/0/' + pid,
          data: JSON.stringify(teacher),
          dataType: 'json',
          type: 'post',
          success: function(info) {
            if (info.errorno == 0) {
              alert("保存成功，请继续添加");
              tid = info.data.mid;
              _this.text("修改");
              _this.attr("id", tid);
              // 取消按钮变成删除按钮
              _this.next().text("删除");
            }
          }
        });
      }
      if ($(this).text() == "修改") {
        $.ajax({
          url: '/api/modifyProMember/' + _this.attr("id"),
          data: JSON.stringify(teacher),
          dataType: 'json',
          type: 'post',
          success: function(info) {
            if (info.errorno == 0) {
              alert("修改成功");
            }
          }
        })
      }
    });
  }

  // 保存获奖信息
  Project.prototype.saveAward = function() {
    // 提交/修改奖项
    let awardId;
    $("#panel").on("click", ".save-award", function() {
      let awardItem = $(this).parent().parent();
      let award = awardItem.serializeJson();
      let _this = $(this);

      if ($(this).text() == "修改") {
        award.source_id = awardId;
        $.ajax({
          url: '/api/modifyProAward/' + _this.attr("id"),
          data: JSON.stringify(award),
          dataType: 'json',
          type: 'post',
          success: function(info) {
            if (info.errorno == 0) {
              alert("修改成功");
            }
          }
        });
      }

      if ($(this).text() == "保存") {
        award.certids = certIdArr;
        $.ajax({
          url: '/api/addProAward/' + pid,
          data: JSON.stringify(award),
          dataType: 'json',
          type: 'post',
          success: function(info) {
            if (info.errorno == 0) {
              alert("保存成功，继续添加");
              awardId = info.data.id;
              _this.text("修改");
              _this.attr("id", awardId);
              // 取消按钮变成删除按钮
              _this.next().text("删除");
            }
          },
          error: function(info) {
            alert(info.msg)
          }
        })
      }
    });
  }

  Project.prototype.submit = function() {
    // 提交审核
    $("#submit").click(function() {
      $.ajax({
        url: '/api/submitProject/' + pid,
        type: 'get',
        success: function(info) {
          alert(JSON.parse(info).msg);
          window.location.href = "{{url_for('front.user')}}"
        }
      })
    });
  }

  new Project()

  ///////////////////////////////////////////////////////////////

  // 取消/删除按钮
  // $("#panel").on("click", ".cancel", function() {
  //   let aim = $(this).parent().parent(); //当前输入框
  //   let mid = $(this).prev().attr("id");
  //   // 取消即把当前输入框移除
  //   if ($(this).text() == "取消") {
  //     aim.remove();
  //   };
  //   // 删除: (1)移除当前输入框 (2)向后端发送请求删除数据
  //   if ($(this).text() == "删除") {
  //     $.ajax({
  //       url: '/api/deleteProMember/' + mid,
  //       type: 'get',
  //       success: function(info) {
  //         if (JSON.parse(info).errorno == 0) {
  //           alert("删除成功");
  //           aim.remove();
  //         }
  //       }
  //     })
  //   }
  // });

  //添加奖项证书并预览
  let certIdArr = [];
  $(".award").on("change", ".certfile", function() {
    let certPreview = $(this).parent().next().find(".certPreview");
    let files = this.files;
    let form = new FormData();
    for (let i = 0; i < files.length; i++) {
      form.append("pics", files[i]);
    }
    form.append("source", 2);
    $.ajax({
      url: '/api/addPic',
      data: form,
      type: 'post',
      dataType: 'json',
      contentType: false,
      processData: false,
      success: function(msg) {
        console.log(msg);
        for (let i = 0; i < msg.data.length; i++) {
          let imgWrap = $("<div class='imgWrap'></div>");
          let certImg = $("<img id='" + msg.data[i].id + "'>");
          certImg.attr("src", msg.data[i].url);
          let delBtn = $("<div class='overlay'><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></div>");
          imgWrap.append(certImg);
          imgWrap.append(delBtn);
          certPreview.append(imgWrap);
          certIdArr.push(msg.data[i].id);
        }
      }
    })
  });

  //删除证书图片
  $(".award").on("click", ".glyphicon-trash", function() {
    let id = $(this).parent().prev().attr("id");
    let wrap = $(this).parent().parent();
    $.ajax({
      url: "/api/deleteCertFile/" + id,
      type: 'get',
      dataType: 'json',
      success: function(info) {
        if (info.errorno == 0) {
          wrap.remove();
          certIdArr.splice(certIdArr.indexOf(id), 1);
        }
      }
    })
  });

  // 取消/删除按钮
  $("#panel").on("click", ".cancel-award", function() {
    let aim = $(this).parent().parent(); //当前输入框
    let awardId = $(this).prev().attr("id");
    // 取消即把当前输入框移除
    if ($(this).text() == "取消") {
      aim.remove();
    };
    // 删除: (1)移除当前输入框 (2)向后端发送请求删除数据
    if ($(this).text() == "删除") {
      $.ajax({
        url: '/api/deleteProAward/' + awardId,
        type: 'get',
        success: function(info) {

          if (JSON.parse(info).errorno == 0) {
            alert("删除成功");
            aim.remove();
          }
        }
      })
    }
  });
});
</script>
{% endblock %}