{% extends 'front/base.html' %}

{% block page_name %}i3创新实验基地{% endblock %}

{% block static_files %}
<style>
  .intro {
    padding: 0 20px;
  }
  p {
    text-indent: 2em;
    line-height: 1.8em;
  }
</style>
{% endblock %}

{% block body_part%}
<div class="lab box-white">
  <div class="row">
    <div class="col-md-12">
      <h3 class="title center">信息与通信创新实践基地</h3>
      <main class="intro">
        <p>“信息与通信创新实践基地”成立于 2000 年，是依托信通院隶属于北京邮电大学教务处大创基地的14个分基地之一。以培养电子信息类专业学生的实践水平、创新能力和团队协作能力为根本目标。在多年的基地建设中，摸索出了一整套完备的基地管理规范和运作机制，制订了专业实验教学、创新基地运转、学科竞赛培训等统一协调的管理办法，凝聚和建设了一支有志于学生创新能力培养的核心导师团队，吸引了一批又一批对创新创业实践有浓厚兴趣、强烈要求自我能力提升的优秀本科学生。基地已经形成了“系列化、层次化、个性化”的实践教学和指导模式，为学院学生的创新实践能力开发和培养，起到了不可忽视的带动和辐射作用。</p>
        <p>“信息与通信创新实践基地”主要服务于信通院“通信工程、电子信息工程”两个专业的本科生。此外也热心支持和服务来自国际学院、自动化学院、数字媒体与设计艺术学院、理学院等跨学科领域的学生，搭建了一个扶持学生们在交叉学科竞赛和创新创业项目自由探索的服务平台。</p>
        <p>基地开展的创新实践活动主要包括：创新实验课程、大学生创新计划项目、学科竞赛和科技知识讲座等。基地秉承“认真、团结、勤奋”的工作原则，通过系统培训、项目研究、团队交流、合作开发和学科竞赛等方式吸引学生积极参与课外创新活动，培养出了一大批有崇高理想、有团队精神，有创新能力专长突出的全面复合型人才。</p>
        <p>基地成立以来，我院师生共完成大学生创新实验计划项目400多项，研究经费200多万元，参与学生近2000多人次，累计指导教师400多人次，参与创新项目的本科生累计申请专利及发表论文30余篇。在学校创新实践成果展示交流会中共有参展项目200多项。其中100多项被评为学校优秀项目。</p>
        <p>参与创新性实验计划的学生还积极参加各类学科竞赛与科技创新活动。在全国互联网+、全国大学生电子设计、软软创新杯、国挑战杯、数学建模、信息安全、电子商务、飞思卡尔智能车、亚太机器人、ACM国际大学生程序设计等国内外科技竞赛中都取得了优异成绩。</p>
        <p>在2016年第二届中国互联网+创新创业大赛中获得全国银奖1项； 2017年第三届“互联网+”大赛上，信通院创新项目“Magic Hand-双手悬空操作的VR游戏”获得北京赛区二等奖。在“微软创新杯”竞赛中获全球第二名、第三名、第五共3项，中国区第二名3项，中国区三等奖3项；在全国“挑战杯”竞赛中获全国一等奖2项，北京特等奖2项； TI杯全国大学生电子设计竞赛模拟电子系统专题邀请赛获全国一等奖1项，在全国及北京市大学生电子设计竞赛中获全国一等奖11项、二等奖共9项，北京市一、二、三奖100余项。</p>
        <p>“信息与通信创新实践基地”在2017年度北京邮电大学创新实践基地优秀管理奖评选中，获得2017年北京邮电大学创新实践基地管理先进集体”。</p>
        <p>放眼未来，“信息与通信创新实践基地”将在学院大力支持下，取得更多标志性成果！</p>
      </main>
    </div>
    <div class="col-md-12">
      <h3 class="title">I<sup>3</sup>创新实践基地</h3>
      <div class="introduction">
        <h4>基本介绍</h4>
        <p class="para1">
          北邮教务处所属的I<sup>3</sup>创新实践基地，也被称为北京邮电大学“电路与电子技术创新实践基地（三）”，
          依托于北京邮电大学信息与通信工程学院展开基地建设。I<sup>3</sup>这个名字，取自以字母“I”为开头的英文单词，
          即Innovation，Information，Intelligence，Inspiration, Insight, Impact， Interesting, International, Infinite。
          该基地名字表明了基地的基本特质，即：<br />
          <ul>
            <li>关注技术领域：信息、智能、创新</li>
            <li>精神特质：灵感/鼓舞、洞察力/见地、影响力</li>
            <li>愿景：有趣、国际、无限</li>
          </ul>
        </p>
        <p class="para2">
          本创新实践基地始建于2002年，位于北邮教二楼3层西北角，主要分为门厅展示区、学生实践场地、公共讨论区、实验物料存放区、
          教师工作区等几个相对相对独立的区域。基地以培养电子信息类专业学生的实践水平、创新能力和团队协作能力为根本目标，
          在多年的基地建设中，摸索出了一整套完备的基地管理规范和运作机制，凝聚和建设了一个有志于学生创新能力培养的核心导师团队，
          吸引了一批又一批对创新创业实践有浓厚兴趣、强烈要求自我能力提升的优秀本科学生。
        </p>
        <p class="para3">
          基地主要服务于信通院的三个本科专业学生，即通信工程、信息工程、电子信息工程。此外也热心支持和服务来自国际学院、自动化学院、数媒学院、
          理学院等跨学科领域的学生，搭建了一个扶持学生们在交叉学科竞赛和创新创业项目自由探索的服务平台。在“互联网+”的大时代背景下，
          制订了专业实验教学、创新基地建设、竞赛培训统一协调的管理办法，协同开展专业实验教学、创新创业教育、竞赛培训，
          摸索拔尖创优电子信息类人才培养的新模式。
        </p>
      </div>
    </div>
    <div class="col-md-12">
      <div class="manager">
        <h4>基地负责人</h4>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>姓名</td>
              <td colspan="2">望育梅</td>
            </tr>
            <tr>
              <td>职称</td>
              <td colspan="2">副教授</td>
            </tr>
            <tr>
              <td>所在单位</td>
              <td colspan="2">信息与通信工程学院</td>
            </tr>
            <tr class="last">
              <td rowspan="5">主要创新实践基地工作简历</td>
              <td>时间</td>
              <td>工作内容</td>
            </tr>
            <tr>
              <td>2016.3.~6.</td>
              <td>参加马里兰大学的相关创新创业活动和教学培训</td>
            </tr>
            <tr>
              <td>2005.5~至今</td>
              <td>指导学生参加全国/北京市大学生电子设计竞赛、微软创新杯竞赛等</td>
            </tr>
            <tr>
              <td>2008.9~至今</td>
              <td>负责I<sup>3</sup>创新实践基地（即原“电路与电子创新实践基地（三）”）的基地管理工作</td>
            </tr>
            <tr class="last">
              <td>2007.5~至今</td>
              <td>管理和指导信通院本科生的大学生创新性实践计划项目</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12">
      <div class="award">
        <h4>获奖情况</h4>
        <h5>一、各类竞赛情况</h5>
        <p>
          这里以2017年获奖情况为例进行总结。
        </p>
        <p>
          2017年，信通院创新基地组织学生参加全国大学生电子设计竞赛、微软创新杯“ImagineCUP”竞赛、“互联网+”等竞赛，
          信通院基地学生在这些竞赛中都取得了骄人的好成绩。如下，为不完全统计和个别举例。<br />
          <ul>
            <li>
              在2017年全国大学生电子设计竞赛中，信通院的两个创新基地，共组织了13支队伍参赛，
              <strong>获得全国二等奖1个，北京市一等奖2个，北京市二等奖2个，北京市三等奖3个。</strong>
            </li>
            <li>
              <strong>2017年9月的第三届中国“互联网+”大学生创新创业大赛北京赛区总决赛中，
                李东根等同学的“Magic Hand-双手悬空操控的VR游戏”项目（指导教师：苏菲），获得北京赛区二等奖，</strong>
              该项目在2017年5月北邮第九届创新论坛展示评比中，获得北邮一等奖、十大最受欢迎奖。
            </li>
            <li>
              在2017年微软创新杯“ImaginCup” 全球学生科技大赛中，
              陈文成老师指导的信通院本科生参赛队伍<strong>获得中国赛区二等奖。</strong>
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>
{% endblock%}