{% extends 'back01/back/base.html' %}

{% block static_files %}
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
{% endblock %}

{% block body_part %}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-files-o"></i>审核项目</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">主页</a></li>
                    <li><i class="icon_document_alt"></i>项目管理</li>
                    <li><i class="fa fa-files-o"></i>审核项目</li>
                </ol>
            </div>
        </div>
        <!-- Form validations -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        待审核项目
                    </header>
                    <div class="panel-body">
                        {% for project in projects %}

                        <div class="col-lg-4">
                            <a href="{{url_for('back.checkProject',pid=project.pid)}}">
                                <img src="{{url_for('static',filename='tmp01/images/project.jpg')}}">  <!--封面图片-->
                            </a>
                            <h4><a href="{{url_for('back.checkProject',pid=project.pid)}}">{{project.pname}}</a></h4>         <!--项目标题-->

                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
{% endblock %}