{% extends 'back01/back/base.html' %}

{% block static_files %}
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>

<style>
    h4 {
        margin:20px 0;
        font-weight: bold;
    }
    .table>tbody>tr>td{
        border-top: 0px;
    }
</style>
{% endblock %}

{% block body_part %}
<section id="main-content">
    <section class="wrapper">

      <div class="container">
        <article>
            <h2 style="text-align: center">{{ new.title }}</h2>
            <p>{{ new.content | safe}}</p>
        </article>

        {% if files %}
        <label>附件</label>
            {% for file in files %}
                <a href="{{ url_for('common.file',name= file.path) }}">{{file.name}}</a>
            {% endfor %}
        {%endif%}
    </div>
             <div class="row">
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">审核意见</label>
                        <textarea class="advice" cols="80" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2">
                            <button type="button" class="btn btn-primary" id="pass" p_id="{{new.nid}}">审核通过</button>
                            <button type="button" class="btn btn-danger" id="notpass" p_id="{{new.nid}}">审核不通过</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </section>
</section>
{% endblock %}

{% block js_files %}

<script>
    $(function () {
        //获奖链接去掉""
        var rawLink=$(".links").text();
        var link=rawLink.slice(1,rawLink.length-1);
        $(".links").attr("href",link);
        $(".links").text(link);


        //审核通过
        $("#pass").click(function () {
            console.log("test");
            var data={};
            data.pid=$(this).attr("p_id");
            data.operation=1;
            data.msg=$(".advice").val();
            $.ajax({
                url:"/api/admin/checkNew/"+data.pid+"/"+1,
                type:"get",
                success: function (data) {
                    alert("提交成功"); //提交成功
                    window.location.href="{{url_for('back.checkNewView')}}";
                    //window.location.href='';//跳转到个人中心
                },
                error: function (data) {
                    alert("提交失败");  //提交失败
                }
            });
        });
        //审核不通过
        $("#notpass").click(function () {
            console.log("test");
            var data={};
            data.pid=$(this).attr("p_id");
            data.operation=0;
            data.msg=$(".advice").val();
            $.ajax({
                url:"/api/admin/checkNew/"+data.pid+"/"+0,
                type:"get",
                success: function (data) {
                    alert("提交成功"); //提交成功
                    window.location.href="{{url_for('back.checkNewView')}}"
                    //window.location.href='';//跳转到个人中心
                },
                error: function (data) {
                    alert("提交失败");  //提交失败
                }
            });
        });
    })
</script>

{% endblock %}