{% extends 'back01/back/base.html' %}

{% block static_files %}
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
{% endblock %}

{% block body_part %}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-files-o"></i>审核项目</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">主页</a></li>
                    <li><i class="icon_document_alt"></i>项目管理</li>
                    <li><i class="fa fa-files-o"></i>审核项目</li>
                </ol>
            </div>
        </div>
        <!-- Form validations -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        待审核项目
                    </header>
                    <div class="panel-body">
                        <table class="table table-striped table-advance table-hover">
                            <thead>
                                <th>项目id</th>
                                <th>项目名称</th>
                                <th>项目类别</th>
                                <th>项目专业</th>
                                <th>发布者</th>
                                <th>提交时间</th>
                                <th>操作</th>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                <tr>
                                    <td>{{project.type}}</td>
                                    <td>{{project.status.major}}</td>

                                    <td>{{project.pid}}</td>
                                    <td>{{project.pname}}</td>
                                    {% if project.type ==1 %}
                                    <td>App开发/微信小程序开发</td>
                                    {% endif %}
                                    {% if project.type ==2 %}
                                    <td>通信/网络</td>
                                    {% endif %}
                                    {% if project.type ==3 %}
                                    <td>软件系统</td>
                                    {% endif %}
                                    {% if project.type ==4 %}
                                    <td>硬件系统</td>
                                    {% endif %}
                                    {% if project.type ==5 %}
                                    <td>视频/图像</td>
                                    {% endif %}
                                    {% if project.type ==6 %}
                                    <td>大数据/机器学习</td>
                                    {% endif %}

                                    <!--{% if project.status.major ==1 %}-->
                                    <!--<td>通信工程</td>-->
                                    <!--{% endif %}-->
                                    <!--{% if project.status.major ==2 %}-->
                                    <!--<td>信息工程</td>-->
                                    <!--{% endif %}-->
                                    <!--{% if project.status.major ==3 %}-->
                                    <!--<td>电子信息工程</td>-->
                                    <!--{% endif %}-->
                                    <td>{{project.publisher}}</td>
                                    <td>{{project.submitTime}}</td>
                                    <td><button id="delete"><a href="{{url_for('back.checkProject',pid=project.pid)}}">审核</a></button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </section>
            </div>
        </div>
        <div class="row">
        <div class="text-center">
            <div>
                <ul class="pagination pagination-lg">
                    {% if pagination.has_prev %}
                        <li><a href="{{url_for('back01.checkProjects',page = pagination.page - 1)}}">«</a></li>
                    {% endif %}

                    {% for p in pagination.iter_pages() %}
                        {% if p == pagination.page%}
                             <li class="active"><a href="{{url_for('back.checkProjects',page = p)}}">{{loop.index}}</a></li>
                        {% else %}
                            <li><a href="{{url_for('back.checkProjects',page = p)}}">{{loop.index}}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if pagination.has_next %}
                        <li><a href="{{url_for('back.checkProjects',page = pagination.page + 1)}}">»</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        </div>
    </section>
</section>
{% endblock %}