<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/static/js/jquery-2.1.0.min.js"></script>
    <script src="/static/back01/myjs/afquery.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="text-align: center;margin-top: 20%">
        <form name="login">
            用户名：<input class="username" type="text">
            <br>
            密码：<input class="password" type="password">
            <br>
            <form>
                <input type="radio" name="role" value="admin" checked>管理员
                <input type="radio" name="role" value="teacher">老师
            </form>
            <input name="submit" type="submit" onclick="MAIN.login()" value="提交">
        </form>
        <div class="msg"></div>
    </div>
</body>
<script>
    var MAIN = {}
    MAIN.role = {
        "admin":0,
        "teacher":1
    }
    MAIN.login = function () {
        var req = {};
        req.username = $('.username').val().trim();
        req.password = $('.password').val().trim();
        req.role = MAIN.role[$("input[name='role']:checked").val()];
        Af.rest("/api/login", req, function (data) {
                Af.log(data);
                $('.msg').text(data.msg)
            })
    }
</script>
</html>

