{% extends 'tmp05/base.html' %}

{% block page_name %}首页{% endblock %}

{% block static_files %}
{% endblock %}


{% block body_part%}
<div class="blog">
    <div>
        <ul>
            {% for doc in documents %}
                <li>
                    <a href="{{url_for('tmp05.download_file', filename=doc.attachments[0].link)}}">{{doc.title}}</a>
                    <label>{{doc.created_time}}</label>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="blog-bottom">
    <ul>
        {% if pagination.has_prev %}
            <li><a href="{{url_for('tmp05.downlink',page = pagination.page - 1)}}" class="active">PREV</a></li>
        {% endif %}
        {% for p in pagination.iter_pages() %}
            {% if p == pagination.page%}
                <li><a href="{{url_for('tmp05.downlink',page = p)}}" class="active">{{loop.index}}</a></li>
            {% else %}
                <li><a href="{{url_for('tmp05.downlink',page = p)}}">{{loop.index}}</a></li>
            {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
                <li><a href="{{url_for('tmp05.downlink',page = pagination.page + 1)}}" class="active">NEXT</a></li>
        {% endif %}
    </ul>
</div>

{% endblock%}