{% extends 'tmp05/base.html' %}

{% block page_name %}首页{% endblock %}

{% block static_files %}
{% endblock %}


{% block body_part%}
<div class="banner" style="background: url(../../static/tmp05/images/bupt/bupt002.jpg);background-size:100% 100%">
    <div class="container">
        <div class="bnr-text">
            <h1>WE CELEBRATES THE JOY OF AGRICULTURE</h1>
            <div class="bttn">
                <a href="#">ASK</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}