{% extends 'back/base.html' %}
{% block static_files %}
<link rel="stylesheet" href="{{url_for('static',filename='vendor/mdeditor/editormd.min.css')}}">
{% endblock %}
{% block body_part %}
<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="main">主页</a></li>
          <li><i class="icon_document_alt"></i>新闻管理</li>
          <li><i class="fa fa-files-o"></i>添加新闻</li>
        </ol>
      </div>
    </div>
    <!-- Form validations -->
    <div class="row">
      <div class="col-lg-12">
        <section class="panel">
          <header class="panel-heading">
            添加新闻
          </header>
          <div class="panel-body">
            <div class="form article">
              <form id="articleform" class="form-horizontal" onsubmit="return false" action="##" method="post">
                <div class="form-group">
                  <label for="title" class="control-label col-lg-1">新闻标题<span class="required">*</span></label>
                  <div class="col-lg-10">
                    <input class="form-control title" id="title" name="title" type="text" required />
                  </div>
                </div>
                <div class="form-group">
                    <label for="content" class="control-label col-lg-1">新闻内容<span class="required">*</span></label>
                    <div class="col-lg-10">
                        <div id="test-editormd">
                            <!--<textarea class="editormd-markdown-textarea" name="$id-markdown-doc"></textarea>-->
                            <!-- html textarea 需要开启配置项 saveHTMLToTextarea == true -->
                            <!--<textarea class="editormd-html-textarea" name="$id-html-code"></textarea>-->
                        </div>
                    </div>
                </div>
                <div class="form-group">
                  <label for="InputFile" class="control-label col-lg-1">上传附件</label>
                  <input type="file" id="InputFile" name="attachment" multiple="multiple">
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-8">
                        <button class="btn btn-success" onclick="save(1)">提交</button>
                        <button class="btn btn-info" onclick="save(0)">保存</button>
                        <button class="btn btn-default" type="button">取消</button>
                    </div>
                </div>                
            
                <!--<div style="width: auto;height: 10px">-->
                <!--<div id="show">-->
                <!--</div>-->
                <!--</div>-->
              </form>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</section>
{% endblock %}
{% block js_files %}
<script src="{{url_for('static',filename='vendor/mdeditor/editormd.min.js')}}"></script>
<script src="{{url_for('static',filename='back/myjs/afquery.js')}}"></script>
<script src="{{ url_for('static',filename='vendor/mdeditor/editormd.js')}}"></script>
<script>
// markdown编辑器设置
var mdEditor;
$(function() {
  mdEditor = editormd("test-editormd", {
    width: '100%',
    height: '550px',
    syncScrolling: "single",
    saveHTMLToTextarea: true,
    path: "{{url_for('static',filename='vendor/mdeditor/lib/')}}",
    //启动本地图片上传功能
    imageUpload: true,
    imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
    imageUploadURL: "{{url_for('common.markdown_upload')}}"
  });
});


function save(type) {
  var form = new FormData(document.getElementById("articleform"));
  form.append("type", type);
  form.append("content", mdEditor.getHTML());
  form.append("src_content", mdEditor.getMarkdown());
  form.append("operate", 0);
  $.ajax({
    url: "/api/admin/addNew",
    type: "POST",
    data: form,
    processData: false,
    contentType: false,
    success: function(data) {
      console.log(data)
      alert("保存成功")
    },
    error: function(xhr, status, error) {
      alert("保存失败")
    }
  });
}
</script>
{% endblock %}