{% extends 'back/base.html' %}
{% block static_files %}
{% endblock %}
{% block body_part %}
<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-md-12">
        <h3 class="page-header"><i class="fa fa-files-o"></i>添加附件</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="index.html">主页</a></li>
          <li><i class="icon_document_alt"></i>附件管理</li>
          <li><i class="fa fa-files-o"></i>添加附件</li>
        </ol>
      </div>
    </div>
    <!-- Form validations -->
    <div class="row">
      <div class="col-md-12">
        <section class="panel">
          <header class="panel-heading">
            添加附件
          </header>
          <div class="panel-body">
            <div class="form article">
              <form id="articleform" class="form-horizontal" onsubmit="return false">
                <!-- div class="form-group ">
                  <label for="title" class="control-label col-md-2">标题<span class="required">*</span></label>
                  <div class="col-md-10">
                    <input class="form-control title" id="title" name="title" type="text" required />
                  </div>
                </div> -->
                <div class="form-group">
                  <label for="InputFile" class="control-label col-md-2">上传附件</label>
                  <input type="file" id="InputFile" name="attachment" multiple="multiple">
                </div>
                <div class="form-group">
                  <div class="col-md-offset-2 col-md-8">
                    <button class="btn btn-primary" type="submit" onclick="uploadFile()">上传</button>
                    <button class="btn btn-default" type="reset">取消</button>
                  </div>
                  <!--<div class="col-md-2">-->
                  <!--<button class="btn btn-primary" onclick="MAIN.onSave01()">保存并发布</button>-->
                  <!--</div>-->
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</section>
<script>
// MAIN.onSave = function (type) {
// var req = {};
// req.title = $('.title').val().trim();
// req.subtitle = $('.subtitle').val().trim();
// req.brief = $('.brief').val().trim();
// req.keyword = $('.keyword').val().trim();
// var content = MAIN.ue.getContent();
// req.type = type;
// req.is_add = 0;
// Af.rest("/back/saveArticle",req,function (data) {
// alert(data);
// $("input").val("");
// })
// }

function uploadFile(e) {
  var form = new FormData(document.querySelector("#articleform"));
  // form.append("is_add", 0);
  // form.append("type", type);
  // form.append("content", content);
  // var kws = "";
  // $(".keyword").each(function() {
  //   var kw = $(this).val().trim();
  //   kws += kw + "||"
  // });
  // form.append("kws", kws.substr(0, kws.length - 2))

  $.ajax({
    url: "/api/admin/uploadFile",
    type: "POST",
    data: form,
    processData: false,
    contentType: false,
    success: function(res) {
      alert(res.msg)
    },
    error: function(xhr, status, error) {
      alert("上传失败");
    }
  });
}
</script>
{% endblock %}