{% extends 'back/base.html' %}
{% block static_files %}
{% endblock %}
{% block body_part %}
<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="index.html">主页</a></li>
          <li><i class="icon_document_alt"></i>资料管理</li>
          <li><i class="fa fa-files-o"></i>上传资料</li>
        </ol>
      </div>
    </div>
    <!-- Form validations -->
    <div class="row">
      <div class="col-md-12">
        <section class="panel">
          <header class="panel-heading">
            上传资料
          </header>
          <div class="panel-body">
            <div class="form article">
              <form id="articleform" class="form-horizontal" onsubmit="return false">
                <div class="form-group">
                  <label for="InputFile" class="control-label col-md-2">上传资料</label>
                  <input type="file" id="InputFile" name="attachment" multiple="multiple">
                </div>
                <div class="form-group">
                  <div class="col-md-offset-2 col-md-8">
                    <button class="btn btn-primary" type="submit" onclick="uploadFile()">上传</button>
                    <button class="btn btn-default" type="reset">取消</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</section>
<script>
function uploadFile(e) {
  var form = new FormData(document.querySelector("#articleform"));

  $.ajax({
    url: "/api/admin/uploadFile",
    type: "POST",
    data: form,
    processData: false,
    contentType: false,
    success: function(res) {
      alert(JSON.parse(res).msg)
    },
    error: function(xhr, status, error) {
      alert("上传失败");
    }
  });
}
</script>
{% endblock %}