{% extends 'back/base.html' %}

{% block static_files %}
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
{% endblock %}

{% block body_part %}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-files-o"></i>添加附件</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">主页</a></li>
                    <li><i class="icon_document_alt"></i>附件管理</li>
                    <li><i class="fa fa-files-o"></i>添加附件</li>
                </ol>
            </div>
        </div>
        <!-- Form validations -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        添加附件
                    </header>
                    <div class="panel-body">
                        <div class="form article">
                            <form id="articleform" class="form-horizontal" onsubmit="return false" action="##" method="post">
                                <!--<div class="form-group ">-->
                                    <!--<label for="title" class="control-label col-lg-2">标题<span-->
                                            <!--class="required">*</span></label>-->
                                    <!--<div class="col-lg-10">-->
                                        <!--<input class="form-control title" id="title" name="title"-->
                                               <!--type="text" required/>-->
                                    <!--</div>-->
                                <!--</div>-->






                                <div class="form-group">
                                    <label for="InputFile" class="control-label col-lg-2">上传附件</label>
                                    <input type="file" id="InputFile" name="attachment" multiple="multiple">

                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-8">
                                        <button class="btn btn-primary" onclick="MAIN.onSave01()">上传</button>
                                        <button class="btn btn-default" type="button">取消</button>
                                    </div>
                                    <!--<div class="col-lg-2">-->
                                        <!--<button class="btn btn-primary" onclick="MAIN.onSave01()">保存并发布</button>-->
                                    <!--</div>-->
                                </div>
                            </form>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </section>
</section>

<script>


    var MAIN = {};

    MAIN.ue = UE.getEditor('editor',
            {"serverUrl":'/ueditor/upload/'})
    MAIN.init = function () {

    }

    MAIN.addkeyword = function () {
        var kw = $(".kw:first")
        $(".addkeyword").before(kw.clone())
        $(".keyword:last").value("")

    }

    <!--MAIN.onSave = function (type) {-->
        <!--var req = {};-->
        <!--req.title = $('.title').val().trim();-->
        <!--req.subtitle = $('.subtitle').val().trim();-->
        <!--req.brief = $('.brief').val().trim();-->
        <!--req.keyword = $('.keyword').val().trim();-->
        <!--var content = MAIN.ue.getContent();-->
        <!--req.type = type;-->
        <!--req.is_add = 0;-->
        <!--Af.rest("/back01/saveArticle",req,function (data) {-->
            <!--alert(data);-->
            <!--$("input").val("");-->
        <!--})-->
    <!--}-->


    MAIN.onSave01 = function () {
        var form = new FormData(document.getElementById("articleform"));
        <!--form.append("is_add",0);-->
        <!--form.append("type",type);-->
        <!--var content = MAIN.ue.getContent();-->
        <!--form.append("content",content);-->
        <!--var kws = "";-->
        <!--$(".keyword").each(function () {-->
            <!--var kw = $(this).val().trim();-->
            <!--kws += kw + "||"-->

        <!--});-->
        <!--form.append("kws",kws.substr(0,kws.length-2))-->
        $.ajax({
                url:"/api/admin/uploadFile",
                type:"post",
                data:form,
                processData:false,
                contentType:false,
                success:function(data){
                    alert("上传成功")
                },
                error:function(e){
                    alert("上传失败");
                }
            });
    }





//    $(document).ready(function () {
//        MAIN.init();
//    });


    //    $(function () {
    //        $('#datetimepicker').datetimepicker({
    //            format: 'YYYY-MM-DD',
    //            locale: moment.locale('zh-cn')
    //        });
    //    });


</script>


{% endblock %}