{% extends 'back/base.html' %}

{% block static_files %}


{% endblock %}

{% block body_part %}
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">主页</a></li>
                    <li><i class="fa fa-table"></i>资料管理</li>
                    <li><i class="fa fa-th-list"></i>查看</li>
                </ol>
            </div>
        </div>
        <!-- page start-->
        <div class="row box-height">
            <div class="col-lg-12">
                <section class="panel">
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th>标题</th>
                                <th>上传时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for file in files %}
                        <tr >
                            <td><a href="{{ url_for('common.file', name=file.path) }}">{{file.name}}</a></td>
                            <td>{{file.createTime}}</td>
                            <td>
                                <button class="btn btn-danger deleteFile"  p_id="{{file.fid}}">删除</button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
        <div class="text-center">
            <div>
                <ul class="pagination pagination-lg">
                    {% if pagination.has_prev %}
                        <li><a href="{{url_for('back.manageResource',page = pagination.page - 1,count = 10)}}?source=2">«</a></li>
                    {% endif %}

                    {% for p in pagination.iter_pages() %}
                        {% if p == pagination.page%}
                             <li class="active"><a href="{{url_for('back.manageResource',page = p,count = 10)}}?source=2">{{loop.index}}</a></li>
                        {% else %}
                            <li><a href="{{url_for('back.manageResource',page = p,count = 10)}}?source=2">{{loop.index}}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if pagination.has_next %}
                        <li><a href="{{url_for('back.manageResource',page = pagination.page + 1,count = 10)}}?source=2">»</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>
</section>
{% endblock %}

{% block js_files %}
<script>
    $('.deleteFile').click(function(){
        alert('确定删除吗？')
        let curTd = $(this)
        let n = curTd.attr("p_id");
        $.ajax({
            url:"/api/admin/deleteFile?fid="+n,
            type:"get",
            success: function (data) {
                alert("删除成功"); //提交成功
                curTd.parent().parent().remove()
            },
            error: function (data) {
                alert("删除失败");  //提交失败
            }
        });
    })

</script>
{% endblock%}