<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Serenity - Modern bootstrap website template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">
  <link href="../../static/assets/css/bootstrap.css" rel="stylesheet">
  <link href="../../static/assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="../../static/assets/css/docs.css" rel="stylesheet">
  <link href="../../static/assets/css/prettyPhoto.css" rel="stylesheet">
  <link href="../../static/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="../../static/assets/css/flexslider.css" rel="stylesheet">
  <link href="../../static/assets/css/sequence.css" rel="stylesheet">
  <link href="../../static/assets/css/style.css" rel="stylesheet">
  <link href="../../static/assets/color/default.css" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="../../static/assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../static/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../static/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../static/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../../static/assets/ico/apple-touch-icon-57-precomposed.png">

  <style type="text/css">
    .navbar .nav > li >a {
      font-size: 13px;
    }

    .navbar .nav{
      margin: 5px 10px 0 100px;
    }

    .nav-tabs > li > a {
      width: 160px;
      text-align: center;
    }

    .nav-tabs > .active > a, .nav-tabs > .active > a:hover , .nav-tabs > .active > a:focus{
      background-color: #94c045;
      color: #fff;
      border: 1px solid #ddd;
      border-bottom-color: transparent;
      cursor: default;
    }
    .table th, .table td {
      border:0px;
    }

    @media (min-width: 1200px) {
      [class*="span"] {
        margin-left:20px;
    }
    }

    .tagline {
      padding: 0px;
    }

    .btn {
      float: right;
    }
    .btn a{
      color: #fff;
    }

    .btn a:hover {
      text-decoration: none;
    }

    .table td, .table th{
      border-top:0px;
      border-bottom: 1px solid #ddd;
    }

    .table a{
      display: block;
      color: #666;
    }

    .table a:hover {
      text-decoration: none;
    }

#maincontent{
  margin-top: 80px;
}
  </style>


  <!-- =======================================================
    Theme Name: Serenity
    Theme URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  <header>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- logo -->
          <a class="brand logo" href="index.html"><img src="../../static/assets/img/logo.png" alt=""></a>
          <!-- end logo -->
          <!-- top menu -->
          <div class="navigation">
            <nav>
              <ul class="nav">
                <li class="dropdown active">
                  <a href="index.html">主页</a>
                </li>
                <li class="dropdown">
                  <a href="news.html">新闻公告</a>
                </li>
                <li class="dropdown">
                  <a href="news.html">资料下载</a>
                </li>
                <li class="dropdown">
                  <a href="projects.html">项目展示</a>
                </li>
                <li class="dropdown">
                  <a href="#">联系我们</a>
                </li>
              </ul>
            </nav>
            <nav>
              <ul class="nav topnav">
              <li class="dropdown">
                <a href="#">登陆</a>
                <ul class="dropdown-menu">
                    <li><a href="#">学生</a></li>
                    <li><a href="#">管理员</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="register.html">注册</a>
              </li>
            </ul>    
            </nav>
          </div>
          <!-- end menu -->
        </div>
      </div>
    </div>
  </header>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span4">
          <aside>
            <div class="widget">
              <form class="form-search">
                <input placeholder="Type something" type="text" class="input-medium search-query">
                <button type="submit" class="btn btn-flat btn-color">搜索</button>
              </form>
            </div>
            <div class="widget">
              <h4>类别</h4>
              <ul class="cat">
                <li><a href="#">Web design (114)</a></li>
                <li><a href="#">Internet news (15)</a></li>
                <li><a href="#">Tutorial and tips (20)</a></li>
                <li><a href="#">Design trends (15)</a></li>
                <li><a href="#">Online business (10)</a></li>
              </ul>
            </div>
            <div class="widget">
              <h4>最近提交</h4>
              <ul class="recent-posts">
                <li><a href="#">Lorem ipsum dolor sit amet munere commodo ut nam</a>
                  <div class="clear">
                  </div>
                  <span class="date"><i class="icon-calendar"></i> 6 March, 2013</span>
                  <span class="comment"><i class="icon-comment"></i> 4 Comments</span>
                </li>
                <li><a href="#">Sea nostrum omittantur ne mea malis nominavi insolens</a>
                  <div class="clear">
                  </div>
                  <span class="date"><i class="icon-calendar"></i> 6 March, 2013</span>
                  <span class="comment"><i class="icon-comment"></i> 2 Comments</span>
                </li>
                <li><a href="#">Eius graece recusabo no pri odio tale quo id, mea at saepe</a>
                  <div class="clear">
                  </div>
                  <span class="date"><i class="icon-calendar"></i> 4 March, 2013</span>
                  <span class="comment"><i class="icon-comment"></i> 12 Comments</span>
                </li>
                <li><a href="#">Malorum deserunt at nec usu ad graeco elaboraret at rebum</a>
                  <div class="clear">
                  </div>
                  <span class="date"><i class="icon-calendar"></i> 3 March, 2013</span>
                  <span class="comment"><i class="icon-comment"></i> 3 Comments</span>
                </li>
              </ul>
            </div>
            <div class="widget">
              <h4>标签</h4>
              <ul class="tags">
                <li><a href="#" class="btn">Tutorial</a></li>
                <li><a href="#" class="btn">Tricks</a></li>
                <li><a href="#" class="btn">Design</a></li>
                <li><a href="#" class="btn">Trends</a></li>
                <li><a href="#" class="btn">Online</a></li>
              </ul>
            </div>
          </aside>
        </div>
        <div class="span8">
          <!-- start article 1 -->
          <article class="blog-post">
            <div class="post-heading">
              <h3><a href="#">虚拟现实增强现实</a></h3>
            </div>
            <div class="row">
              <div class="span3">
                <div class="post-image">
                  <a href="#"><img src="../../static/assets/img/dummies/blog1.jpg" alt="" /></a>
                </div>
              </div>
              <div class="span5">
                <ul class="post-meta">
                  <li class="first"><i class="icon-calendar"></i><span>March 03, 2013</span></li>
                  <li><i class="icon-list-alt"></i><span><a href="#">3 comments</a></span></li>
                  <li class="last"><i class="icon-tags"></i><span><a href="#">Design</a>, <a href="#">Blog</a>, <a href="#">Tutorial</a></span></li>
                </ul>
                <div class="clearfix">
                </div>
                <p>
                  Ei eos suavitate forensibus mnesarchum. Eu est timeam vocibus, an nostro aliquam adipiscing quo. Zril equidem et quo, ad albucius scripserit sit. Vis constituto deseruisse an, interesset reprehendunt et mel, gloriatur concludaturque pro no. At ludus mediocritatem
                  qui, no vituperata assueverit accommodare his.
                </p>
                <button class="btn btn-small btn-success" type="button"><a href="projects-detail.html">更多</a></button>
              </div>
            </div>
          </article>
          <!-- end article 1 -->
          <!-- start article 2 -->
          <article class="blog-post">
            <div class="post-heading">
              <h3><a href="#">大数据用户画像</a></h3>
            </div>
            <div class="row">
              <div class="span3">
                <div class="post-image">
                  <a href="#"><img src="../../static/assets/img/dummies/blog1.jpg" alt="" /></a>
                </div>
              </div>
              <div class="span5">
                <ul class="post-meta">
                  <li class="first"><i class="icon-calendar"></i><span>March 03, 2013</span></li>
                  <li><i class="icon-list-alt"></i><span><a href="#">3 comments</a></span></li>
                  <li class="last"><i class="icon-tags"></i><span><a href="#">Design</a>, <a href="#">Blog</a>, <a href="#">Tutorial</a></span></li>
                </ul>
                <div class="clearfix">
                </div>
                <p>
                  Ei eos suavitate forensibus mnesarchum. Eu est timeam vocibus, an nostro aliquam adipiscing quo. Zril equidem et quo, ad albucius scripserit sit. Vis constituto deseruisse an, interesset reprehendunt et mel, gloriatur concludaturque pro no. At ludus mediocritatem
                  qui, no vituperata assueverit accommodare his.
                </p>
                <button class="btn btn-small btn-success" type="button">Read more</button>
              </div>
            </div>
          </article>          

          <!-- end article 2 -->
          <!-- start article 3 -->
          <article class="blog-post">
            <div class="post-heading">
              <h3><a href="#">车联网高铁</a></h3>
            </div>
            <div class="row">
              <div class="span3">
                <div class="post-quote">
                  <blockquote>
                    Lorem ipsum dolor sit amet, vidit postea ex nec, tantas eruditi conceptam eu vim
                  </blockquote>
                </div>
              </div>
              <div class="span5">
                <ul class="post-meta">
                  <li class="first"><i class="icon-user"></i><span>March 03, 2013</span></li>
                  <li><i class="icon-list-alt"></i><span><a href="#">3 comments</a></span></li>
                  <li class="last"><i class="icon-tags"></i><span><a href="#">Design</a>, <a href="#">Blog</a>, <a href="#">Tutorial</a></span></li>
                </ul>
                <div class="clearfix">
                </div>
                <p>
                  Ei eos suavitate forensibus mnesarchum. Eu est timeam vocibus, an nostro aliquam adipiscing quo. Zril equidem et quo, ad albucius scripserit sit. Vis constituto deseruisse an, interesset reprehendunt et mel, gloriatur concludaturque pro no. At ludus mediocritatem
                  qui, no vituperata assueverit accommodare his.
                </p>
                <button class="btn btn-small btn-success" type="button">Read more</button>
              </div>
            </div>
          </article>
          <!-- end article 3 -->
          <div class="pagination">
            <ul>
              <li><a href="#">Prev</a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  </body>
  </html>