{% macro news(list=[], showHead=true) -%}
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover no-padding">
      {% if showHead %}
      <thead>
        <tr>
          <th>标题</th>
          <th class="time">发布时间</th>
        </tr>
      </thead>
      {% endif %}
      <tbody>
        {% for item in list %}
        <tr>
          <td>
            <a href="{{ url_for('front.new', news_id=item.nid) }}">{{ item.title }}</a>
          </td>
          <td class="time">{{ item.publisherTime }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{%- endmacro %}
{% macro download(list=[]) -%}
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover no-padding">
      <thead>
        <tr>
          <th>标题</th>
          <th class="time">发布时间</th>
        </tr>
      </thead>
      <tbody>
        {% for item in list %}
        <tr>
          <td>
            <a href="{{ url_for('common.file', name=item.name) }}">{{ item.name }}</a>
          </td>
          <td class="time">{{ item.createTime }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{%- endmacro %}
{% macro pagination(pagination, url, count) -%}
<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if pagination.has_prev %}
    <li>
      <a href="{{ url_for(url,page = pagination.page - 1,count = 10) }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="disabled">
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for p in pagination.iter_pages() %}
    {% if p == pagination.page %}
    <li class="active"><a href="{{ url_for(url, page = p,count = 10) }}">{{loop.index}}</a></li>
    {% else %}
    <li><a href="{{ url_for(url, page = p,count = 10) }}">{{loop.index}}</a></li>
    {% endif %}
    {% endfor %}
    {% if pagination.has_next %}
    <li>
      <a href="{{ url_for(url,page = pagination.page + 1,count = 10) }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="disabled">
      <a href="{{ url_for(url,page = pagination.page + 1,count = 10) }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{%- endmacro %}
{% macro projects(project) -%}
<div class="project-item">
  <div class="project-image">
    <a href="{{ url_for('front.project', pid=project.pid) }}">
      <img style="display: block;height: 200px;" src="{{url_for('common.image',name=project.pic.path)}}" alt="">
      <!-- <img src="/static/img/lab/project.jpg"> -->
    </a>
  </div>
  <div class="project-title">
    <a href="{{ url_for('front.project', pid=project.pid) }}">
      <h5>{{project.pname}}</h5>
    </a>
  </div>
  <div class="project-info">
    <div class="flex-row">
      <div><i class="glyphicon glyphicon-user"></i><span>{{project.publisher}}</span></div>
      <div><i class="glyphicon glyphicon-calendar"></i><span class="time">{{project.submitTime}}</span></div>
    </div>
  </div>
</div>
{%- endmacro %}