{% extends "backapp/backbase.html" %}
{% block title %}编辑项目{% endblock %}
{% block navbar %}
<section class="content-header">
    <h1>编辑项目</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">项目管理</li>
        <li class="active">编辑项目</li>
    </ol>
</section>
{% endblock %}
{% block content %}
    <div class="box box-primary">
     <form action="{{ url_for('main.addproject') }}" method="post"  enctype="multipart/form-data"  >
       <div class="box-header with-border">
            {% include 'backapp/message.html' %}
        </div>
{#         {{form.hidden_tag()}}#}
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>项目名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {{form.name(class_="form-control",value= project.pname)}}
{#                <input type="text"  class="input-text" value="" placeholder="" id="title" name="title"#}
{#                       >#}
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">团队成员：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {{form.team_info(class_="form-control",value= project.users)}}
{#                  <input type="text"  class="input-text" value="" placeholder="" id="link" name="link"#}
{#                       >#}
{#                <div class="uploader-thum-container">#}
{#                    <input id="upfile" name="upfile" type="file" style="height: auto;"/>#}
{#                    <img id="front_cover_img" src="" height="25" width="100" hidden="hidden"/>#}
{#                </div>#}
            </div>
        </div>
      <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">项目图片：</label>
            <div class="formControls col-xs-8 col-sm-9">
                 {{form.photo(class_="form-control",value=project.picture )}}
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">项目视频：</label>
            <div class="formControls col-xs-8 col-sm-9">
                 {{form.video(class_="form-control",value=project.vedio)}}
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">项目简介：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea  class="form-control",rows="13",cols = "112">{{ project.introduction }}</textarea>
{#                 {{form.introduction(class_="form-control",id= 't1',defaultValue=project.introduction,rows="13",cols = "112")}}#}
            </div>
        </div>



{#             {% for message in get_flashed_messages() %}#}
{#            <div class="alert alert-warning" style=" margin:0 auto;width:200px; height:40px;text-align:center;" >#}
{#                <button type="button" class="close" data-dismiss="alert">&times;</button>#}
{#                {{ message }}#}
{#            </div>#}
{#            {% endfor %}#}

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                {{form.submit(class_="btn btn-primary btn-block btn-flat")}}
{#                <button onClick="save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">#}
{#                    &#xe632;</i> 保存#}
{#                </button>#}
            </div>
        </div>
     </form>
    </div>
<script src="{{ url_for('static', filename='backapp/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='backapp/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='backapp/plugins/iCheck/icheck.min.js') }}"></script>
<script src="{{ url_for('static', filename='backapp/plugins/pace/pace.min.js') }}"></script>
<script src="{{ url_for('static', filename='backapp/js/global.js') }}"></script>
    <script>
document.getElementById("t1").value=project.introduction
</script>
<script>
    function initPage() {
        //初始化iCheck插件
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

    }
</script>
{% endblock %}