{% extends 'backbase.html' %}

{% block title %}项目列表{% endblock %}

{#{% block body_part %}#}
{#    <hr>#}
{#    <br>#}
{#    <br>#}
{% block navbar %}
<section class="content-header">
    <h1>项目列表</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">项目管理</li>
        <li class="active">项目列表</li>
    </ol>
</section>
{% endblock %}
{% block content %}
<ul >
{% for project in projects %}
    <li>
        <div><a href="{{url_for('main.pdetail',project_id = project.id)}}">{{ project.pname }}</a>
        <form method="post" action="{{ url_for('main.operate',project_id=project.id) }}">
            <input type="submit" name="operate" value= "编辑"></input>
{#            <input type="submit" name="operate" value= "通过"></input>#}
            <input type="submit" name="operate" value= "删除"></input>
        </form>
        </div>
    </li>

{% endfor %}
</ul>
{% endblock %}