{% extends 'tmp01/base.html' %}

{% block static_files %}
    <style type="text/css">
#menu {
font:12px verdana, arial, sans-serif; /* 设置文字大小和字体样式 */
}
#menu, #menu li {
list-style:none; /* 将默认的列表符号去掉 */
padding:0; /* 将默认的内边距去掉 */
margin:0; /* 将默认的外边距去掉 */
}
</style>
<style type="text/css">
#menu li {
float:left; /* 往左浮动 */
}
</style>
<style type="text/css">
#menu li a {
display:block; /* 将链接设为块级元素 */
padding:8px 50px; /* 设置内边距 */
background:#3A4953; /* 设置背景色 */
color:#fff; /* 设置文字颜色 */
text-decoration:none; /* 去掉下划线 */
border-right:1px solid #000; /* 在左侧加上分隔线 */
}
</style>
{% endblock %}

{% block page_name %}资料下载{% endblock %}

{% block body_part %}
    <hr>
    <br>
    <br>



<table >
{%  for project in projects %}
    <tr>
        <td width="5%"><li></li></td>
        <td width="85%">
        <div><a href="{{ url_for('project_details',document_id=project.id) }}">{{ project.title }}</a></div>
        </td>
        <td width="10%">
                  {{ project.created_time }}
        </td>

    </tr>
{% endfor %}
</table>

 <div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                {% if pagination.has_prev %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="{{url_for('projects',page=pagination.page-1)}}">Previous</a>
                                </li>
                                {% endif %}


                                {% for p in pagination.iter_pages() %}

                                    {% if p == pagination.page%}
                                    <li class="page-item active">
                                        <a class="page-link" href="{{ url_for('projects', page = p) }}">{{loop.index}}</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url_for('projects',page=p)}}">{{loop.index}}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}

                                {% if pagination.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="{{url_for('projects',page=pagination.page+1)}}">Next</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
{% endblock %}