{% extends "base.html" %}

{% block page_name %}新闻{% endblock %}

{% block static_files %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/t_news.css') }}">
{% endblock %}

{% block body_part %}

<div class="row news-header">
    <div class="col-2">
      <h5 style="padding-top: 10px;">>>新闻公告</h5>
    </div>
    <div class="col-4 offset-6">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>
    </div>
  </div>

<div class="row news-body">
      <div class="col-12">
        <table class="table table-hover table-sm">
          <tbody>
          {% for document in documents %}
            <tr>
              <th scope="row" width="2%"><img src="images/right.gif"></th>
              <td width="83%"><a href="{{ url_for('new_details',document_id=document.id) }}">{{ document.title }}</a></td>
              <td width="15%">{{document.created_time}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
  </div>

<footer>
<div class="container">
  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
</div>
</footer>


{% endblock %}