{% extends 'base.html' %}
{% block static_files %}
    <script src="{{ url_for('static', filename='tinymce/js/tinymce/tinymce.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tinymce_setup.js') }}"></script>
{% endblock %}
{% block page_name %}上传新闻{% endblock %}

{% block body_part %}
    <h4>新闻编辑:</h4>
    <form method="POST" action="">
        <div >
             <textarea class="form-control" placeholder="新闻标题" name="document_title"></textarea>
        </div>
        <div class="tinymce-group">
            <textarea id="tinymce-content" rows="2" placeholder="请在此编辑新闻" name="document_content"></textarea>
        </div>
        <div class="form-group" style="text-align: right;">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </form>
{% endblock %}